{% extends "base.html" %}

{% load static %}
{% load project_tags %}

{% block content %}
  <main class="container">
    <div class="jumbotron">
      <h1>Welcome to GoutHelper</h1>
      <p class="lead">This is a site to help answer common clinical questions about gout.</p>
      <hr class="my-4" />
      <p>
        GoutHelper has clinical tools and information pages. Clinical tools take information about a
        patient and/or symptoms to provide useful information. Tools are either
        <strong><a class="samepage-link" href="{% url 'contents:treatment-aids' %}">Treatment Aids</a></strong>,
        which recommend a treatment for a specific scenario, or
        <strong><a class="samepage-link" href="{% url 'contents:decision-aids' %}">Decision Aids</a></strong>, which
        provide information about gout and/or whether a certain type of treatment is appropriate.
      </p>
      <p class="lead">
        <a class="btn btn-primary btn-lg"
           href="{% url 'contents:about' %}"
           role="button">About</a>
        <a class="btn btn-primary btn-lg"
           href="{% url 'blog:blog' %}"
           role="button">Blog</a>
      </p>
    </div>
  </main>
{% endblock content %}
