{% extends "base.html" %}

{% load static %}
{% load project_tags %}

{% block content %}
  <main class="container">
    <div class="jumbotron">
      <h1>Welcome to GoutHelper</h1>
      <p class="lead">This is a site to help answer common clinical questions about gout.</p>
      <hr class="my-4" />
      <p>
        GoutHelper has clinical tools and information pages. Clinical tools take information about a
        patient and/or symptoms to provide useful information. Tools are either
        <strong><a class="samepage-link" href="{% url 'contents:treatment-aids' %}">Treatment Aids</a></strong>,
        which recommend a treatment for a specific scenario, or
        <strong><a class="samepage-link" href="{% url 'contents:decision-aids' %}">Decision Aids</a></strong>, which
        provide information about gout and/or whether a certain type of treatment is appropriate.
      </p>
      <p class="lead">
        <a class="btn btn-primary btn-lg"
           href="{% url 'contents:about' %}"
           role="button">About</a>
        <a class="btn btn-primary btn-lg"
           href="{% url 'blog:blog' %}"
           role="button">Blog</a>
      </p>
    </div>
    <div class="jumbotron bg-primary">
      <h1>Get Started</h1>
      <p class="lead">
        Start by creating a GoutPatient (pseudopatient). If you'd like to save GoutPatients to
        reference later, create an account. If you know which tool you need, just pick that from the Navigation Bar.
      </p>
      <hr class="my-4" />
      <p>
        GoutPatients are a way to conslidate information and use multiple GoutHelper tools without duplicating information.
        They also don't require, and in fact don't allow, any Protected Health Information (PHI).
      </p>
      <a class="btn btn-warning btn-lg"
         hx-post="{% url 'users:create-pseudopatient' %}"
         hx-trigger="click"
         hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
         role="button"><strong>Create GoutPatient</strong></a>
    </div>
  </main>
{% endblock content %}
