{% extends "base.html" %}

{% load static %}
{% load project_tags %}

{% block heading %}
  <div class="row">
    <div class="col">
      <h1>GoalUrate</h1>
    </div>
    <div class="col align-items-center d-flex justify-content-end">
      <a type="button"
         class="btn btn-primary btn-lg spacious-buttons"
         href="{% url 'goalurates:about' %}"
         role="button">About</a>
      <a type="button"
         class="btn btn-primary btn-lg spacious-buttons"
         href="{% url 'goalurates:update' pk=object.pk %}"
         role="button">Update</a>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <span>Jump to:</span> <a class="samepage-link" href="#goal-uric-acid">Goal Uric Acid</a>
      | <a class="samepage-link" href="#explanations">Explanations</a>
    </div>
    <div class="col align-items-center d-flex justify-content-end">
      {% if object.user %}<span>{{ object.user }}</span>{% endif %}
    </div>
  </div>
{% endblock heading %}
{% block content %}
  <main role="main">
    <div class="container bodytainer">
      <hr size="3" color="dark" />
      <div id="goal-uric-acid">
        <div class="row">
          <div class="col">
            <h3>
              <u>Goal Uric Acid</u>: {{ object.get_goal_urate_display }}
            </h3>
            <p>{{ object.get_interpretation }}</p>
          </div>
        </div>
      </div>
      <div id="explanations">
        <hr size="3" color="dark" />
        <div class="row">
          <div class="col">
            <h3>
              <u>Explanations</u>
            </h3>
          </div>
        </div>
        <div class="accordion" id="accordionExplanations">
          {% for explanation in object.explanations %}
            {% include "explanation_accordion_item.html" with parent="accordionExplanations" id=explanation.0 label=explanation.1 bool=explanation.2 interp=explanation.3 %}
          {% endfor %}
        </div>
      </div>
      <a href="#top">Back to top</a>
    </div>
  </main>
{% endblock content %}
