{% extends "base.html" %}

{% load static %}
{% load project_tags %}

{% block heading %}
  <div class="row">
    <div class="col">
      <h1>GoalUrate</h1>
    </div>
    <div class="col align-items-center d-flex">
      <a type="button"
         class="btn btn-primary btn-lg spacious-buttons"
         href="{% url 'goalurates:about' %}"
         role="button">About</a>
      <a type="button"
         class="btn btn-primary btn-lg spacious-buttons"
         href="{% url 'goalurates:update' pk=object.pk %}"
         role="button">Update</a>
    </div>
  </div>
{% endblock heading %}
{% block content %}
  <main role="main">
    <div class="container bodytainer">
      <hr size="3" color="dark" />
      <div class="row">
        <div class="col">
          <h3>{{ object.get_goal_urate_display }}</h3>
          <p>
            This is the goal serum uric acid level based on the
            {% if object.erosions or object.tophi %}
              presence of
              {% if object.erosions and object.tophi %}
                <a class="samepage-link" href="#erosions">erosions</a> and
                <a class="samepage-link" href="#tophi">tophi</a>
              {% elif object.tophi %}
                <a class="samepage-link" href="#tophi">tophi</a>
              {% elif object.erosions %}
                <a class="samepage-link" href="#erosions">erosions</a>
              {% endif %}
            {% else %}
              absence
              <a class="samepage-link" href="#erosions">erosions</a> and
              <a class="samepage-link" href="#tophi">tophi</a>
            {% endif %}
            .
          </p>
        </div>
      </div>
      <div id="explanations">
        <hr size="3" color="dark" />
        <div class="row">
          <div class="col">
            <h3>
              <u>Explanations</u>
            </h3>
          </div>
        </div>
        <div class="row">
          <div class="col">
            {% include "_explanation.html" with aidtype="GoalUrate" con_obj=tophi id="tophi" label='Tophi' %}
            {% include "_explanation.html" with aidtype="GoalUrate" con_obj=erosions id="erosions" label='Erosions' %}
          </div>
        </div>
      </div>
      <a href="#top">Back to top</a>
    </div>
  </main>
{% endblock content %}
{% block inline_javascript %}
  {{ block.super }}
  <script>
    $(document).ready(function() {
      $(".collapse-toggle").each(function() {
        check_plusminus($(this).attr('id'));
      })
      $('.collapse-explanation').each(function() {
        $(this).on("hidden.bs.collapse", collapse_control);
      });
      $('.collapse-explanation').each(function() {
        $(this).on('shown.bs.collapse', expand_control);
      });
    });
  </script>
{% endblock inline_javascript %}
