{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load project_tags %}

{% block title %}
  {% if form.instance.created %}
    Edit GoalUrate
  {% else %}
    New GoalUrate
  {% endif %}
{% endblock title %}
{% block heading %}
  <h1>GoalUrate</h1>
{% endblock heading %}
{% block subheading %}
  Determine what {{ str_attrs.subject_the_pos }} goal uric acid level is.
{% endblock subheading %}
{% block content %}
  <main class="container">
    {% if form.instance.created %}
      {% if view.kwargs.username %}
        <form class="form-horizontal"
              method="post"
              action="{% url 'goalurates:pseudopatient-update' view.kwargs.username %}">
          {% csrf_token %}
          {% crispy form %}
          {% include "_submit_button.html" %}
        </form>
      {% else %}
        <form class="form-horizontal"
              method="post"
              action="{% url 'goalurates:update' form.instance.pk %}">
          {% csrf_token %}
          {% crispy form %}
          {% include "_submit_button.html" %}
        </form>
      {% endif %}
    {% else %}
      {% if view.kwargs.username %}
        <form class="form-horizontal"
              method="post"
              action="{% url 'goalurates:pseudopatient-create' view.kwargs.username %}">
          {% csrf_token %}
          {% crispy form %}
          {% include "_submit_button.html" %}
        </form>
      {% else %}
        {% if ultaid %}
          <form class="form-horizontal"
                method="post"
                action="{% url 'goalurates:ultaid-create' ultaid=ultaid %}">
            {% csrf_token %}
            {% crispy form %}
            {% include "_submit_button.html" %}
          </form>
        {% else %}
          <form class="form-horizontal"
                method="post"
                action="{% url 'goalurates:create' %}">
            {% csrf_token %}
            {% crispy form %}
            {% include "_submit_button.html" %}
          </form>
        {% endif %}
      {% endif %}
    {% endif %}
  </main>
{% endblock content %}
