{% if not view.req_otos %}
  <script>
    $(document).ready(function() {
      CKD_checker(dob_optional = '{{dob_optional}}', gender_optional = '{{gender_optional}}', patient = false);
      dialysis_checker();
      $('#id_CKD-value').change(function() {
        CKD_checker(dob_optional = '{{dob_optional}}', gender_optional = '{{gender_optional}}', patient = false);
      });
      $('#id_dialysis').change(dialysis_checker);
      $('#id_baselinecreatinine-value').change(function() {
        CKD_checker(dob_optional = '{{dob_optional}}', gender_optional = '{{gender_optional}}', patient = false);
      });
    });
  </script>
{% else %}
  <script>
    $(document).ready(function() {
      CKD_checker(dob_optional = '{{dob_optional}}', gender_optional = '{{gender_optional}}', patient = true);
      dialysis_checker();
      $('#id_CKD-value').change(function() {
        CKD_checker(dob_optional = '{{dob_optional}}', gender_optional = '{{gender_optional}}', patient = true);
      });
      $('#id_dialysis').change(dialysis_checker);
      $('#id_baselinecreatinine-value').change(function() {
        CKD_checker(dob_optional = '{{dob_optional}}', gender_optional = '{{gender_optional}}', patient = true);
      });
    });
  </script>
{% endif %}
{% if not view.req_otos %}
  <script>
    // this is executed if there is no username in the url
    $(document).ready(function() {
      compare_stage_creat(patient = false);
      $('#id_dateofbirth-value').change(function() {
        compare_stage_creat(patient = false);
      });
      $('#id_gender-value').change(function() {
        compare_stage_creat(patient = false);
      });
      $('#id_baselinecreatinine-value').change(function() {
        compare_stage_creat(patient = false);
      });
      $('#id_stage').change(function() {
        compare_stage_creat(patient = false);
      });
    });
  </script>
{% else %}
  <script>
    var age = '{{ age }}'
    var gender = '{{ gender }}'
    $(document).ready(function() {
      compare_stage_creat(patient = true, u_age = age, u_gender = gender);
      $('#id_baselinecreatinine-value').change(function() {
        compare_stage_creat(patient = true, u_age = age, u_gender = gender);
      });
      $('#id_stage').change(function() {
        compare_stage_creat(patient = true, u_age = age, u_gender = gender);
      });
    });
  </script>
{% endif %}
{% if optional %}
  {% if view.kwargs.username %}
    <script>
      $(document).ready(function() {
        CKD_optional_checker(dob_optional = '{{dob_optional}}', gender_optional = '{{gender_optional}}', patient = true);
        $('#id_CKD-value').change(function() {
          CKD_optional_checker(dob_optional = '{{dob_optional}}', gender_optional = '{{gender_optional}}', patient = true);
        });
        $('#id_baselinecreatinine-value').change(function() {
          CKD_optional_checker(dob_optional = '{{dob_optional}}', gender_optional = '{{gender_optional}}', patient = true);
        });
      });
    </script>
  {% else %}
    <script>
      $(document).ready(function() {
        CKD_optional_checker(dob_optional = '{{dob_optional}}', gender_optional = '{{gender_optional}}', patient = false);
        $('#id_CKD-value').change(function() {
          CKD_optional_checker(dob_optional = '{{dob_optional}}', gender_optional = '{{gender_optional}}', patient = false);
        });
        $('#id_baselinecreatinine-value').change(function() {
          CKD_optional_checker(dob_optional = '{{dob_optional}}', gender_optional = '{{gender_optional}}', patient = false);
        });
      });
    </script>
  {% endif %}
{% endif %}
<link rel="stylesheet"
      href="https://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css" />
<script src="https://code.jquery.com/jquery-1.9.1.js"></script>
<script src="https://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
