<div id="goutdetail-card" class="card spacious-cards">
  <div class="card-body">
    <h2 class="card-title">Gout Details</h2>
    <ul>
      <li>
        Flaring:
        {% if object.flaring %}
          gout is not in remission
        {% elif object.flaring is None %}
          unknown if gout is in remission
        {% else %}
          gout is in remission
        {% endif %}
      </li>
      <li>
        Uric acid:
        {% if object.at_goal %}
          at goal (under {{ object.goal_urate.get_goal_urate_display }})
        {% elif object.at_goal is None %}
          status unknown
        {% else %}
          hyperuricemic
        {% endif %}
      </li>
      <li>
        Prophylaxis:
        {% if not object.on_ppx %}not{% endif %}
        on anti-inflammatories for flare prevention
      </li>
      <li>
        ULT:
        {% if object.starting_ult %}
          starting
        {% elif not object.on_ult %}
          not on
        {% else %}
          on
        {% endif %}
        urate-lowering therapy to achieve gout remission
      </li>
    </ul>
  </div>
</div>
