{% load project_tags %}

<div id="flare-card" class="card spacious-cards">
  <div class="card-body" id="flare">
    <h3 class="card-title">Latest {{ object }}</h3>
    {% if object.user %}
      <a href="{% url 'flares:pseudopatient-update' username=object.user.username pk=object.pk %}?next={{ request.path }}"
         class="btn btn-primary btn-sm">Update</a>
      <a href="{% url 'flares:pseudopatient-detail' username=object.user.username pk=object.pk %}"
         class="btn btn-primary btn-sm">Detail</a>
      <a href="{% url 'flares:pseudopatient-list' username=object.user.username %}"
         class="btn btn-primary btn-sm">List</a>
      <a href="{% url 'flares:pseudopatient-create' username=object.user.username %}?next={{ request.path }}"
         class="btn btn-primary btn-sm">New</a>
    {% else %}
      <a href="{% url 'flares:update' object.pk %}?next={{ request.path }}"
         class="btn btn-primary btn-sm">Update</a>
      <a href="{% url 'flares:detail' object.pk %}"
         class="btn btn-primary btn-sm">Detail</a>
    {% endif %}
    <a href="{% url 'flares:about' %}" class="btn btn-primary btn-sm">About</a>
  </div>
</div>
