{% extends "base.html" %}

{% load static %}
{% load project_tags %}

{% block heading %}
  <div class="row">
    <div class="col">
      <h1>Flares</h1>
    </div>
    <div class="col-auto align-items-center d-flex justify-content-end">
      <a type="button"
         class="btn btn-primary btn-lg spacious-buttons"
         href="{% url 'flares:about' %}"
         role="button">About</a>
      <a type="button"
         class="btn btn-primary btn-lg spacious-buttons"
         href="{% url 'flares:pseudopatient-create' username=patient.username %}"
         role="button">Create</a>
    </div>
  </div>
{% endblock heading %}
{% block subheading %}
  {{ patient }}
{% endblock subheading %}
{% block content %}
  <main role="main">
    <div class="container bodytainer">
      <div id="flare-list">
        {% for flare in object_list %}
          {% include "flares/flare_detail_card.html" with object=flare %}
        {% endfor %}
      </div>
    </div>
  </main>
{% endblock content %}
