{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load project_tags %}

{% block title %}
  {% comment %}
{% if form.instance.pk %}
Update Flare
{% else %}
  {% endcomment %}
  New Flare
  {% comment %}
{% endif %}
  {% endcomment %}
{% endblock title %}
{% block header %}
  {% comment %}
{% if form.instance.pk %}
    </h1>Update Flare</h1>
  {% else %}
  {% endcomment %}
  <h1>Gout Flare</h1>
  {% comment %}
{% endif %}
  {% endcomment %}
  <span>Tell us about the symptoms, and we can tell you how likely it is that it's from gout.</span>
{% endblock header %}
{% block content %}
  {% if form.instance.created %}
    <form class="form-horizontal"
          method="post"
          action="{% url 'flares:update' form.instance.pk %}">
      {% csrf_token %}
      {% crispy form %}
      {% include '_submit_button.html' %}
    </form>
  {% else %}
    <form class="form-horizontal"
          method="post"
          action="{% url 'flares:create' %}">
      {% csrf_token %}
      {% crispy form %}
      {% include '_submit_button.html' %}
    </form>
  {% endif %}
{% endblock content %}
{% block inline_javascript %}
  <link rel="stylesheet"
        href="https://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css" />
  <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="https://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
  <script>
    $(document).ready(function() {
      // For Flare datepicker
      $('input[id*="date_started"]').each(function() {
        $(this).datepicker({
          changeYear: true
        });
      });
      $('input[id*="date_ended"]').each(function() {
        $(this).datepicker({
          changeYear: true
        });
      });
      $('input[id*="dateofbirth"]').each(function() {
        $(this).datepicker({
          changeYear: true,
          yearRange: "-100:-18",
          minDate: "-100y",
          maxDate: "-18y"
        });
      });
      $('#id_diagnosed').change(diagnosed_checker);
      diagnosed_checker($('#id_diagnosed'));
      $('#id_aspiration').change(diagnosed_checker);
      diagnosed_checker($('#id_aspiration'));
      $('#id_urate_check').change(urate_checker);
      urate_checker($('#id_urate_check'));
    });
  </script>
  {% include 'medhistorys/_ckd_js.html' %}
  {% include 'medhistorys/_menopause_js.html' %}
{% endblock inline_javascript %}
