{% extends "base.html" %}

{% load static %}
{% load project_tags %}

{% block heading %}
  <div class="row">
    <div class="col">
      <h1>{{ object }}</h1>
    </div>
    <div class="col align-items-center d-flex justify-content-end">
      {% if object.user %}
        <a type="button"
           class="btn btn-primary btn-lg spacious-buttons"
           href="{% url 'flares:pseudopatient-update' username=object.user.username pk=object.pk %}"
           role="button">Update</a>
        <a type="button"
           class="btn btn-primary btn-lg spacious-buttons"
           href="{% url 'flares:pseudopatient-delete' username=object.user.username pk=object.pk %}"
           role="button">Delete</a>
      {% else %}
        <a type="button"
           class="btn btn-primary btn-lg spacious-buttons"
           href="{% url 'flares:update' pk=object.pk %}"
           role="button">Update</a>
      {% endif %}
      <a type="button"
         class="btn btn-primary btn-lg spacious-buttons"
         href="{% url 'flares:about' %}"
         role="button">About</a>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <span>Jump to:</span> <a class="samepage-link" href="#outcome">Outcome</a>
      {% if object.options_without_rec %}| <a class="samepage-link" href="#options">Options</a>{% endif %}
      | <a class="samepage-link" href="#treatment">Treatment</a> | <a class="samepage-link" href="#details">Details</a>
      | <a class="samepage-link" href="#explanations">Explanations</a>
    </div>
    <div class="col align-items-center d-flex justify-content-end">
      {% if object.user %}<span>{{ object.user }}</span>{% endif %}
    </div>
  </div>
{% endblock heading %}
{% block content %}
  <main role="main">
    <div class="container bodytainer">
      <div id="outcome">
        <hr size="3" color="dark" />
        <div class="row">
          <div class="col">
            <div class="card card-body spacious-cards" id="likelihood">
              <h3 class="card-title">
                <a href="{% url 'flares:about' %}#likelihood">Likelihood</a>: {{ flare.get_likelihood_display }}
              </h3>
              <ul>
                <li>
                  Interpretation: {{ flare.likelihood_interp }}.
                  <li>Recommendation: {{ flare.likelihood_recommendation }}</li>
                  <li>
                    Explanation: {{ flare.likelihood_explanation }}
                    {% if flare.less_likelys %}
                      <ul>
                        {% for less_likely, less_likely_link in flare.less_likelys_explanations %}
                          <li>
                            <!-- djlint:off -->{{ less_likely }} - <a class="samepage-link" href=#{{ less_likely_link }}><em>explanation</em></a><!-- djlint:on -->
                          </li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                  </li>
                  {% if flare.contradiction %}<li>{{ flare.contradiction }}</li>{% endif %}
                </li>
              </ul>
            </div>
          </div>
          <div class="col">
            <div class="card card-body spacious-cards" id="prevalence">
              <h3 class="card-title">
                <a href="{% url 'flares:about' %}#prevalence">Prevalence</a>: {{ flare.prevalence.lower.capitalize }}
              </h3>
              <ul>
                <li>
                  <a href="{% url 'flares:about' %}#diagnosticrule">Diagnostic Rule</a> Score: <strong>{{ flare.prevalence_points }}</strong>
                </li>
                <li>{{ flare.get_prevalence_display }} of similar patients have gout.</li>
                <li>{{ flare.prevalence_explanation }}</li>
                {% if flare.polyarticular %}
                  <li>
                    Warning: the Diagnostic Rule was based on single joint flares (monoarticular).
                    Multi-joint flares (polyarticular), such as this one, should be interpreted with caution, if at all.
                  </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div id="treatment">
        <hr size="3" color="dark" />
        <div class="row">
          <div class="col">
            <h3>
              <u>Treatment / FlareAid</u>
            </h3>
          </div>
        </div>
        <div id="flareaid">
          {% if object.user %}
            {% if object.user.flareaid %}
              {% include 'flareaids/flare_card.html' with object=object.user.flareaid flare=object %}
            {% else %}
              <a type="button"
                 class="btn btn-primary btn-lg spacious-buttons"
                 href="{% url 'flareaids:pseudopatient-create' username=object.user.username %}"
                 role="button">FlareAid</a>
            {% endif %}
          {% else %}
            {% if object.flareaid %}
              {% include 'flareaids/flare_card.html' with object=object.flareaid flare=object %}
            {% else %}
              <a type="button"
                 class="btn btn-primary btn-lg spacious-buttons"
                 href="{% url 'flareaids:flare-create' flare=object.pk %}"
                 role="button">FlareAid</a>
            {% endif %}
          {% endif %}
        </div>
      </div>
      <div id="details">
        <hr size="3" color="dark" />
        <div class="row">
          <div class="col">
            <h3>
              <u>Details</u>
            </h3>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="card card-body spacious-cards" id="description">
              <h4 class="card-title">Clinical Description</h4>
              <ul>
                <li>
                  <a class="samepage-link" href="#joints">
                    {% if flare.polyarticular %}
                      Polyarticular
                    {% else %}
                      Monoarticular
                    {% endif %}
                  </a>
                  <ul>
                    {% if object.common_joints %}<li>Common joints: {{ object.common_joints_str }}</li>{% endif %}
                    {% if object.uncommon_joints %}<li>Uncommon joints: {{ object.uncommon_joints_str }}</li>{% endif %}
                    {% if object.firstmtp %}
                      <li>
                        1st MTP: {{ object.firstmtp_str|capfirst }} (<strong>2.5 points</strong>)
                      </li>
                    {% endif %}
                  </ul>
                </li>
                <li>
                  <a class="samepage-link" href="#duration">{{ flare.duration.days }} days long</a>
                  ({{ flare.date_started }} -
                  {% if flare.date_ended %}
                    {{ flare.date_ended }}
                  {% else %}
                    present
                  {% endif %}
                  )
                </li>
                <li>
                  {% if flare.onset %}
                    <a class="samepage-link" href="#onset">Onset</a>: rapid (<strong>0.5 points</strong>)
                  {% else %}
                    Onset: gradual
                  {% endif %}
                </li>
                <li>
                  <a class="samepage-link" href="#redness">Erythema</a> (redness):
                  {% if flare.redness %}
                    present (<strong>1 point</strong>)
                  {% else %}
                    absent
                  {% endif %}
                </li>
              </ul>
            </div>
          </div>
          <div class="col">
            <div class="card card-body spacious-cards" id="about-patient">
              <h4>Patient</h4>
              <h6>
                <a class="samepage-link" href="#demographics">Demographics</a>:
                {% if object.at_risk_for_gout %}
                  at-risk
                {% else %}
                  not at-risk
                {% endif %}
              </h6>
              <ul>
                <li>Age: {{ flare.age }}</li>
                <li>
                  Gender: {{ flare.gender }}
                  {% if not gender %}(<strong>2 points</strong>){% endif %}
                  {% if flare.menopause %}
                    , post-menopausal
                  {% elif object.ckd %}
                    with <a class="samepage-link" href="#ckd">CKD</a>
                  {% endif %}
                </li>
              </ul>
              {% if object.cvdiseases or object.gout or object.ckd %}
                <h6>Medical History</h6>
                <ul>
                  {% if object.cvdiseases %}
                    <li>
                      <a class="samepage-link" href="#cvdiseases">CV disease(s)</a>: {{ object.cvdiseases_str }} (<strong>1.5 points</strong>)
                    </li>
                  {% endif %}
                  {% if object.gout %}
                    <li>
                      <a class="samepage-link" href="#gout">Gout</a> (<strong>2 points</strong>)
                    </li>
                  {% endif %}
                  {% if flare.ckd %}
                    {% include '_contra.html' with id="ckd" aidtype="Flare" %}
                  {% endif %}
                </ul>
              {% endif %}
            </div>
          </div>
          <div class="col">
            <div class="card card-body spacious-cards" id="medical-info">
              <h4 class="card-title">Medical Info</h4>
              <ul>
                <li>
                  {% if flare.diagnosed %}
                    <a class="samepage-link" href="#diagnosed">Diagnosed</a> with gout
                  {% elif flare.diagnosed is not None %}
                    <a class="samepage-link" href="#diagnosed">Diagnosed</a> with something other than gout
                  {% else %}
                    <a class="samepage-link" href="#diagnosed">No diagnostic evaluation</a>
                  {% endif %}
                </li>
                <li>
                  <a class="samepage-link" href="#crystal_analysis">Joint aspiration</a>:
                  {% if flare.crystal_analysis is not None %}
                    {% if flare.crystal_analysis %}
                      (+) monosodium urate
                    {% else %}
                      (-) monosodium urate
                    {% endif %}
                  {% else %}
                    none
                  {% endif %}
                </li>
                <li>
                  <a class="samepage-link" href="#hyperuricemia">Uric acid</a>:
                  {% if flare.urate %}
                    {% if flare.hyperuricemia %}
                      hyperuricemic - {{ flare.urate.value_str }} (<strong>3.5 points</strong>)
                    {% else %}
                      not hyperuricemic - {{ flare.urate.value_str }}
                    {% endif %}
                  {% else %}
                    not checked
                  {% endif %}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div id="explanations">
        <hr size="3" color="dark" />
        <div class="row">
          <div class="col">
            <h3>
              <u>Explanations</u>
            </h3>
          </div>
        </div>
        <div class="accordion" id="accordionExplanations">
          {% for explanation in object.explanations %}
            {% include "explanation_accordion_item.html" with parent="accordionExplanations" id=explanation.0 label=explanation.1 bool=explanation.2 interp=explanation.3 %}
          {% endfor %}
        </div>
      </div>
      <a href="#top">Back to top</a>
    </div>
  </main>
{% endblock content %}
