{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load project_tags %}

{% block title %}
  {% if form.instance.created %}
    Edit Flare
  {% else %}
    New Flare
  {% endif %}
{% endblock title %}
{% block heading %}
  {% if form.instance.created %}
    <h1>Edit Flare</h1>
  {% else %}
    <h1>New Flare</h1>
  {% endif %}
{% endblock heading %}
{% block subheading %}
  {% if form.instance.created %}
    Edit
    {{ str_attrs.subject_the_pos }}
    Flare for updated information.
  {% else %}
    Are {{ str_attrs.subject_the_pos }} symptoms due to gout? Find out.
  {% endif %}
{% endblock subheading %}
{% block content %}
  <main class="container">
    {% if form.instance.created %}
      {% if view.kwargs.username %}
        <form class="form-horizontal"
              method="post"
              action="{% url 'flares:pseudopatient-update' object.user.username object.pk %}">
          {% csrf_token %}
          {% crispy form %}
          {% include '_submit_button.html' %}
        </form>
      {% else %}
        <form class="form-horizontal"
              method="post"
              action="{% url 'flares:update' form.instance.pk %}">
          {% csrf_token %}
          {% crispy form %}
          {% include '_submit_button.html' %}
        </form>
      {% endif %}
    {% else %}
      {% if view.kwargs.username %}
        <form class="form-horizontal"
              method="post"
              action="{% url 'flares:pseudopatient-create' view.kwargs.username %}">
          {% csrf_token %}
          {% crispy form %}
          {% include '_submit_button.html' %}
        </form>
      {% else %}
        <form class="form-horizontal"
              method="post"
              action="{% url 'flares:create' %}">
          {% csrf_token %}
          {% crispy form %}
          {% include '_submit_button.html' %}
        </form>
      {% endif %}
    {% endif %}
  </main>
{% endblock content %}
{% block inline_javascript %}
  {{ block.super }}
  <script>
    $(document).ready(function() {
      // For Flare datepicker
      $('input[id*="date_started"]').each(function() {
        $(this).datepicker({
          changeYear: true
        });
      });
      $('input[id*="date_ended"]').each(function() {
        $(this).datepicker({
          changeYear: true
        });
      });
      $('#id_date_ended').change(aki_checker);
      aki_checker($('#id_date_ended'));
      $('#id_medical_evaluation').change(medical_evaluation_checker);
      medical_evaluation_checker($('#id_medical_evaluation'));
      $('#id_aspiration').change(aspiration_checker);
      aspiration_checker($('#id_aspiration'));
      $('#id_urate_check').change(urate_checker);
      urate_checker($('#id_urate_check'));
    });
  </script>
  {% with dob_optional=False gender_optional=False %}
    {% include 'medhistorys/_ckd_js.html' %}
  {% endwith %}
  {% include 'medhistorys/_menopause_js.html' %}
{% endblock inline_javascript %}
