<!-- Assumes:
object is a UltAid object
hlab5801 is a hlab5801 object
ethnicity is an ethnicity object
defaultulttrtsettings is a DefaultUltTrtSettings object -->
{% load project_tags %}

{% if hlab5801_contra %}
  {% if object %}
    <li>
      <a class="samepage-link" href="#hlab5801">HLA-B*58:01</a> (+)
    </li>
  {% elif object is None %}
    {% if ethnicity is not None %}
      {% if ethnicity and ethnicity|risk_ethnicity and not defaultulttrtsettings.allo_risk_ethnicity_no_hlab5801 %}
        <li>
          <a class="samepage-link" href="#hlab5801">HLA-B*58:01</a> unknown
          <ul>
            <li>Ethnicity ({{ ethnicity }}) high prevalence</li>
          </ul>
        </li>
      {% endif %}
    {% else %}
      <li>
        dd
        <a class="samepage-link" href="#hlab5801">HLA-B*58:01</a> and ethnicity unknown
      </li>
    {% endif %}
  {% endif %}
{% endif %}
