{% load project_tags %}

{% if object.flareaid %}
  {% include 'flareaids/flareaid_detail_mini_card.html' with object=object.flareaid %}
{% else %}
  <div id="flareaid-card" class="card spacious-cards">
    <div class="card-body" id="flareaid">
      <h3 class="card-title">No FlareAid</h3>
      <a type="button"
         class="btn btn-primary btn-sm"
         href="{% url 'flareaids:pseudopatient-create' username=object.username %}?next={{ request.path }}"
         role="button">Create</a>
      <a type="button"
         class="btn btn-primary btn-sm"
         href="{% url 'flareaids:about' %}"
         role="button">About</a>
    </div>
  </div>
{% endif %}
