{% load project_tags %}

{% if object.ppxaid %}
  {% include 'ppxaids/ppxaid_detail_mini_card.html' with object=object.ppxaid %}
{% else %}
  <div id="ppxaid-card" class="card spacious-cards">
    <div class="card-body" id="ppxaid">
      <h3 class="card-title">No PpxAid</h3>
      <a type="button"
         class="btn btn-primary btn-sm"
         href="{% url 'ppxaids:pseudopatient-create' username=object.username %}?next={{ request.path }}"
         role="button">Create</a>
      <a type="button"
         class="btn btn-primary btn-sm"
         href="{% url 'ppxaids:about' %}"
         role="button">About</a>
    </div>
  </div>
{% endif %}
