{% load project_tags %}

{% if object.ult %}
  {% include 'ults/ult_detail_card.html' with ult=object.ult %}
{% else %}
  <div id="ult-card" class="card spacious-cards">
    <div class="card-body">
      <h3 class="card-title">No Ult</h3>
      <a type="button"
         class="btn btn-primary btn-sm"
         href="{% url 'ults:pseudopatient-create' username=object.user.username %}?next={{ object.get_absolute_url }}"
         role="button">Create</a>
      <a type="button"
         class="btn btn-primary btn-sm"
         href="{% url 'ults:about' %}"
         role="button">About</a>
    </div>
  </div>
{% endif %}
