<div id="ppxaid-card" class="card text-center spacious-cards">
  <div class="card-body">
    <h2 class="card-title">PpxAid</h2>
    <p class="card-text">
      Patients actually have an increased risk of flares right after they start ULT, and so it is recommended
      they take a medication to prevent flares until their body has eliminated all its excess uric acid. This
      preventative treatment is called prophylaxis. GoutHelper's <strong>PpxAid</strong> tool helps you
      determine what the best prophylaxis is for your patient.
    </p>
    <a href="{% url 'ppxaids:create' %}"
       class="btn btn-primary spacious-buttons">Create</a>
    <a href="{% url 'ppxaids:about' %}"
       class="btn btn-primary spacious-buttons">About</a>
  </div>
</div>
