{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load project_tags %}

{% block title %}
  {% if form.instance.created %}
    Update
  {% else %}
    New
  {% endif %}
  PpxAid
{% endblock title %}
{% block heading %}
  <h1>Gout PpxAid</h1>
{% endblock heading %}
{% block subheading %}
  Determine what prophylactic (preventative) treatment is best for a patient during the intitiation phase of ULT.
{% endblock subheading %}
{% block content %}
  <main class="container">
    {% if form.instance.created %}
      <form class="form-horizontal"
            method="post"
            action="{% url 'ppxaids:update' form.instance.pk %}">
        {% csrf_token %}
        {% crispy form %}
        {% include '_submit_button.html' %}
      </form>
    {% else %}
      <form class="form-horizontal"
            method="post"
            action="{% url 'ppxaids:create' %}">
        {% csrf_token %}
        {% crispy form %}
        {% include '_submit_button.html' %}
      </form>
    {% endif %}
  </main>
{% endblock content %}
{% block inline_javascript %}
  {{ block.super }}
  <script>
    $(document).ready(function() {
      // For Flare datepicker
      $('input[id*="dateofbirth"]').each(function() {
        $(this).datepicker({
          changeYear: true,
          yearRange: "-100:-18",
          minDate: "-100y",
          maxDate: "-18y"
        });
      });
    });
  </script>
  {% include 'medhistorys/_ckd_js.html' %}
{% endblock inline_javascript %}
