{% extends "base.html" %}

{% load static %}
{% load project_tags %}

{% block title %}
  {% if object.user %}
    PpxAid: {{ object.user }}
  {% else %}
    {{ object }}
  {% endif %}
{% endblock title %}
{% block heading %}
  <div class="row">
    <div class="col">
      <h1>PPxAid</h1>
    </div>
    <div class="col-auto align-items-center d-flex justify-content-end">
      <a type="button"
         class="btn btn-primary btn-lg spacious-buttons"
         href="{% url 'ppxaids:about' %}"
         role="button">About</a>
      {% if object.user %}
        <a type="button"
           class="btn btn-primary btn-lg spacious-buttons"
           href="{% url 'ppxaids:pseudopatient-update' pseudopatient=object.user.pk %}"
           role="button">Update</a>
      {% else %}
        <a type="button"
           class="btn btn-primary btn-lg spacious-buttons"
           href="{% url 'ppxaids:update' pk=object.pk %}"
           role="button">Update</a>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col">
      <span>Jump to:</span> <a class="samepage-link" href="#recommendation">Recommendation</a>
      {% if object.options_without_rec %}| <a class="samepage-link" href="#options">Options</a>{% endif %}
      | <a class="samepage-link" href="#not_options">Not Recommended</a> | <a class="samepage-link" href="#explanations">Explanations</a>
    </div>
    <div class="col-auto align-items-center d-flex justify-content-end">
      {% if object.user %}<span>{{ object.user }}</span>{% endif %}
    </div>
  </div>
{% endblock heading %}
{% block content %}
  <main role="main">
    <div class="container bodytainer">
      <div id="recommendation">
        <hr size="3" color="dark" />
        <div class="row">
          <h2>
            <u>Recommendation</u>
          </h2>
          <div class="col">
            {% include "treatments/partials/recommendation.html" with recommendation=object.recommendation trttype=object.trttype %}
          </div>
          {% if object.recommendation %}
            <div class="col">
              <div class="card card-body spacious-cards">
                <h4 class="card-title">Prophylaxis Instructions</h4>
                <ul>
                  <li>Take as prescribed, even if you aren't having gout symptoms</li>
                  <li>Take until serum uric acid is under 6.0 mg/dL for 6 months or longer</li>
                  <li>Reduces risk of flares, does not eliminate them completely</li>
                  <li>
                    Dose is too low for treatment of gout flares, use
                    {% if patient %}
                      {% if patient.flareaid %}
                        <a href="{% url 'flareaids:pseudopatient-detail' view.kwargs.pseudopatient %}">FlareAid</a>
                      {% else %}
                        <a href="{% url 'flareaids:pseudopatient-create' view.kwargs.pseudopatient %}">FlareAid</a>
                      {% endif %}
                    {% else %}
                      <a href="{% url 'flareaids:create' %}">FlareAid</a>
                    {% endif %}
                    dosing for flares
                  </li>
                </ul>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
      <div id="ppx">
        <hr size="3" color="dark" />
        {% if object.user and object.user.ppx %}
          {% include "ppxs/ppx_detail_card.html" with ppx=object.user.ppx %}
        {% elif object.ppx %}
          {% include "ppxs/ppx_detail_card.html" with ppx=object.ppx %}
        {% else %}
          {% include "ppxs/ppx_detail_card.html" with ppx=None marketing="Is flare prophylaxis recommended?" %}
        {% endif %}
      </div>
      {% if object.recommendation %}
        {% include "treatments/partials/options.html" with options=object.options_without_rec trttype=object.trttype %}
      {% endif %}
      {% if object.not_options %}
        {% include "treatments/partials/not_options.html" %}
      {% endif %}
      <hr size="3" color="dark" />
      <div id="explanations">
        <div class="row">
          <div class="col">
            <h2>
              <u>Explanations</u>
            </h2>
          </div>
          <div class="col align-items-center d-flex justify-content-end">
            <a href="#top"><small>Back to top</small></a>
          </div>
        </div>
        <div class="accordion" id="accordionExplanations">
          {% for explanation in object.explanations %}
            {% include "explanation_accordion_item.html" with parent="accordionExplanations" id=explanation.0 label=explanation.1 bool=explanation.2 interp=explanation.3 %}
          {% endfor %}
        </div>
      </div>
      <a href="#top">Back to top</a>
    </div>
  </main>
{% endblock content %}
{% block inline_javascript %}
  {{ block.super }}
  <script>
    $(document).ready(function() {
      $('.collapse').each(function() {
        $(this).on("hidden.bs.collapse", collapse_control);
      });
      $('.collapse').each(function() {
        $(this).on('shown.bs.collapse', expand_control);
      });
      check_for_and_expand_collapse();
    });
  </script>
{% endblock inline_javascript %}
