<div class="card card-body spacious-cards" id="goalurate">
  {% if patient %}
    <h4 class="card-title">Goal uric acid: {{ object.goalurate.get_goal_urate_display }}</h4>
  {% else %}
    <h4 class="card-title">Goal uric acid: {{ object.get_goal_urate_display }}</h4>
  {% endif %}
  <ul class="list-group list-group-horizontal minified-list-group">
    <li class="list-group-item flex-fill d-flex justify-content-center">{{ object.erosions_detail }}</li>
    <li class="list-group-item flex-fill d-flex justify-content-center">{{ object.tophi_detail }}</li>
  </ul>
  {% if ult %}
    <ul>
      {% if patient %}
        <li>Target uric acid level for {{ patient }}</li>
      {% else %}
        <li>Target uric acid level for the patient</li>
      {% endif %}
      <li>
        Adjust
        {% if ult %}
          {{ ult }}
        {% else %}
          ULT
        {% endif %}
        dose until serum uric acid is
        {% if object.goalurate %}
          {{ object.goalurate.get_goal_urate_display }}
        {% else %}
          {{ object.get_goal_urate_display }}
        {% endif %}
        or less
      </li>
      <li>Once "at goal", a maintenance dose is prescribed to keep the uric acid at this level</li>
    </ul>
  {% endif %}
  {% if patient %}
    <a type="button"
       class="btn btn-primary btn-lg mini-button"
       hx-get="{% url 'goalurates:pseudopatient-update' object.username %}"
       hx-target="#goalurate"
       hx-trigger="click"
       role="button">Update Goal Urate</a>
  {% else %}
    <a type="button"
       class="btn btn-primary btn-lg mini-button"
       hx-get="{% url 'goalurates:update' object.pk %}"
       hx-target="#goalurate"
       hx-trigger="click"
       role="button">Update Goal Urate</a>
  {% endif %}
</div>
{% block inline_javascript %}
  <link rel="stylesheet"
        href="https://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css" />
  <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="https://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
  <script>
    $(".samepage-link").click(function() {
      var href = $(this).attr('href');
      $(href).effect("highlight", 2000);
    });
  </script>
{% endblock inline_javascript %}
