{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load project_tags %}

{% block title %}
  {% if form.instance.created %}
    Update GoutPatient
  {% else %}
    Create GoutPatient
  {% endif %}
{% endblock title %}
{% block heading %}
  {% if form.instance.created %}
    <h1>Edit GoutPatient</h1>
  {% else %}
    <h1>New GoutPatient</h1>
  {% endif %}
{% endblock heading %}
{% block subheading %}
  {% if form.instance.created %}
    Update {{ form.instance }}'s general information.
  {% else %}
    Start building a comprehensive plan for a patient's gout.
  {% endif %}
{% endblock subheading %}
{% block content %}
  <main class="container">
    {% if form.instance.created and request.user.is_authenticated %}
      <form class="form-horizontal"
            method="post"
            action="{% url 'users:pseudopatient-update' object.username %}">
        {% csrf_token %}
        {% crispy form %}
        {% include '_submit_button.html' %}
      </form>
    {% else %}
      {% if request.user.is_authenticated %}
        <form class="form-horizontal"
              method="post"
              action="{% url 'users:provider-pseudopatient-create' user.username %}">
          {% csrf_token %}
          {% crispy form %}
          {% include '_submit_button.html' %}
        </form>
      {% else %}
        <form class="form-horizontal"
              method="post"
              action="{% url 'users:pseudopatient-create' %}">
          {% csrf_token %}
          {% crispy form %}
          {% include '_submit_button.html' %}
        </form>
      {% endif %}
    {% endif %}
  </main>
{% endblock content %}
{% block inline_javascript %}
  {{ block.super }}
  <script>
    $(document).ready(function() {
      menopause_checker(patient = false);
      $('#id_dateofbirth-value').change(function() {
        menopause_checker(patient = false, change = true);
      });
      $('#id_gender-value').change(function() {
        menopause_checker(patient = false, change = true);
      });
    });
  </script>
  {% include 'medhistorydetails/_goutdetail_js.html' %}
{% endblock inline_javascript %}
