{% extends "base.html" %}

{% load static %}

{% block title %}
  {{ object }}
{% endblock title %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col">
        <h2>{{ object }}</h2>
      </div>
      <div class="col align-items-center d-flex justify-content-end">
        <a type="button"
           class="btn btn-primary btn-lg spacious-buttons"
           href="{% url 'users:pseudopatient-update' object.username %}"
           role="button">Update Profile</a>
        <a type="button"
           class="btn btn-primary btn-lg spacious-buttons"
           href="{% url 'users:pseudopatient-delete' object.username %}"
           role="button">Delete</a>
      </div>
    </div>
    <div class="btn-group fullwidth">
      <a class="btn btn-outline-primary"
         href="{% url 'flareaids:pseudopatient-detail' object.username %}"
         role="button">FlareAid</a>
      <a class="btn btn-outline-primary"
         href="{% url 'flares:pseudopatient-list' object.username %}"
         role="button">Flares</a>
      <a class="btn btn-outline-primary"
         href="{% url 'goalurates:pseudopatient-detail' object.username %}"
         role="button">GoalUrate</a>
      <a class="btn btn-outline-primary"
         href="{% url 'ppxaids:pseudopatient-detail' object.username %}"
         role="button">PpxAid</a>
      <a class="btn btn-outline-primary"
         href="{% url 'ppxs:pseudopatient-detail' object.username %}"
         role="button">Ppx</a>
      <a class="btn btn-outline-primary"
         href="{% url 'ultaids:pseudopatient-detail' object.username %}"
         role="button">UltAid</a>
      <a class="btn btn-outline-primary"
         href="{% url 'ults:pseudopatient-detail' object.username %}"
         role="button">Ult</a>
    </div>
    <div class="row">
      <div class="col-sm-6">{% include 'users/demographics.html' with object=object %}</div>
      <div class="col-sm-6">{% include 'medhistorydetails/goutdetail.html' with object=object.goutdetail %}</div>
    </div>
  </div>
  {% if object == request.user %}
    <!-- Action buttons -->
    <div class="row">
      <div class="col-sm-12">
        <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">My Info</a>
        <a class="btn btn-primary"
           href="{% url 'account_email' %}"
           role="button">E-Mail</a>
        <a class="btn btn-primary"
           href="{% url 'users:pseudopatients' object.username %}"
           role="button">Pseudo-Patients</a>
        <a class="btn btn-primary" href="{% url 'users:delete' %}" role="button">Delete Account</a>
        <!-- Your Stuff: Custom user template urls -->
      </div>
    </div>
    <!-- End Action buttons -->
  {% endif %}
{% endblock content %}
