{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load static %}
{% load project_tags %}

{% block title %}
  Delete {{ object }}
{% endblock title %}
{% block heading %}
  <h1>Delete {{ object }}</h1>
  <hr size="3" color="dark" />
{% endblock heading %}
{% block content %}
  <main class="container">
    <form class="form-horizontal"
          method="post"
          action="{% url 'users:pseudopatient-delete' object.username %}">
      {% csrf_token %}
      <p>Are you sure you want to delete "{{ object }}"?</p>
      <p>
        This will permanently the GoutPatient and any data related to it
        (i.e. UltAid, Ult, PpxAid, Ppx, Flare(s), FlareAid, GoalUrate).
      </p>
      {{ form|crispy }}
      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-primary">Confirm</button>
        </div>
      </div>
    </form>
  </main>
{% endblock content %}
