{% load project_tags %}

<ul>
  <li>
    <strong>Dosing:</strong> {% trt_dict_to_str dosing_dict=info_dict trttype=trttype treatment=trt %}
  </li>
  <li>
    <strong>Dose Adjustment:</strong> {% trt_dose_adj_to_str dosing_dict=info_dict ultaidsettings=object.defaulttrtsettings %}
  </li>
  {% with trt.lower|concat_str_with_underscore:"info_dict" as trt_info %}
    {% with object|getattribute:trt_info as trt_info_dict %}
      {% for key, val in trt_info_dict.items %}
        <li>
          <strong>{{ key }}</strong>: {{ val }}
        </li>
      {% endfor %}
    {% endwith %}
  {% endwith %}
</ul>
