{% load project_tags %}

{% if options %}
  <hr size="3" color="dark" />
  <div id="options">
    <div class="row">
      <div class="col">
        <h2>
          <u>Options</u>
        </h2>
      </div>
      <div class="col align-items-center d-flex justify-content-end">
        <a href="#top"><small>Back to top</small></a>
      </div>
    </div>
    {% include "treatments/partials/accordion.html" with options=options.keys parent="Options" accordion_body="treatments/partials/dosing.html" modify_header=True %}
  </div>
{% endif %}
