{% load project_tags %}

{% if options %}
  <div id="options">
    <hr size="3" color="dark" />
    <h3>
      <u>Options</u>
    </h3>
    <div class="row">
      {% for option in options %}
        <div class="col-auto">
          {% if option.0 == "Colchicine" %}
            {% include "treatments/partials/dosing.html" with trt=option.0 trt_dict=option.1 colchicine=True trttype=trttype %}
          {% else %}
            {% include "treatments/partials/dosing.html" with trt=option.0 trt_dict=option.1 trttype=trttype %}
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}
