<div class="col">
  {% if object.recommendation %}
    {% if recommendation.0 == "Colchicine" %}
      {% include "treatments/partials/dosing.html" with trt=recommendation.0 trt_dict=recommendation.1 colchicine=True trttype=trttype %}
    {% else %}
      {% include "treatments/partials/dosing.html" with trt=recommendation.0 trt_dict=recommendation.1 trttype=trttype %}
    {% endif %}
  {% else %}
    <p>No recommendation available. See a rheumatologist for further evaluation.</p>
    {% if trttype == "Ult" %}
      {% if object.xoiinteraction %}
        <p>
          Xanthine oxidase inhibitor (XOI) interactions can be managed, but should be done so carefully
          with a rheumatologist and a pharmacist.
        </p>
      {% endif %}
      {% if object.allopurinolhypersensitivity or object.febuxostathypersensitivity %}
        <p>
          De-sensitization is an option for patients with a history of allopurinol or febuxostat hypersensitivity, but
          this should be done with a rheumatologist and pharmacist.
        </p>
      {% endif %}
    {% else %}
      <p>See a rheumatologist for further evaluation.</p>
    {% endif %}
  {% endif %}
</div>
