<div class="col">
  {% if recommendation %}
    <div class="card card-body spacious-cards">
      <h4 class="card-title">{{ recommendation.0.lower.capitalize }}</h4>
      {% include "treatments/partials/dosing.html" with trt=recommendation.0 info_dict=recommendation.1 %}
    </div>
  {% else %}
    <p>No recommendation available. See a rheumatologist for further evaluation.</p>
    {% if trttype == "Ult" %}
      {% if object.xoiinteraction %}
        <p>
          Xanthine oxidase inhibitor (XOI) interactions can be managed, but should be done so carefully
          with a rheumatologist and a pharmacist.
        </p>
      {% endif %}
      {% if object.allopurinolhypersensitivity or object.febuxostathypersensitivity %}
        <p>
          De-sensitization is an option for patients with a history of allopurinol or febuxostat hypersensitivity, but
          this should be done with a rheumatologist and pharmacist.
        </p>
      {% endif %}
    {% endif %}
  {% endif %}
</div>
