<div class="card card-body">
  <h3 div class="card-title">
    <u>Details</u>
  </h3>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <a class="samepage-link" href="#on_ppx">
        {% if not object.on_ppx %}
          Not on
        {% else %}
          On
        {% endif %}
        prophylaxis
      </a>
    </li>
    <li class="list-group-item">
      <a class="samepage-link"
         href="#{% if object.starting_ult %}starting_ult{% else %}on_ult{% endif %}">
        {% if not object.on_ult %}
          {% if object.starting_ult %}
            Starting
          {% else %}
            Not on
          {% endif %}
        {% else %}
          On
        {% endif %}
        ULT
        {% if object.on_ult and object.starting_ult %}- just started{% endif %}
      </a>
    </li>
    <li class="list-group-item">
      <a class="samepage-link" href="#flaring">
        {% if not object.flaring %}
          Not f
        {% else %}
          F
        {% endif %}
        laring
      </a>
    </li>
    <li class="list-group-item">
      {% if object.urates_discrepant %}
        {{ object.urates_discrepant_str }}
      {% elif object.hyperuricemic is None %}
        Uric acid status unknown
      {% elif object.hyperuricemic is False %}
        Not hyperuricemic
      {% else %}
        <a class="samepage-link" href="#hyperuricemic">Hyperuricemic</a>
      {% endif %}
    </li>
    <li class="list-group-item">
      {% if object.labs_qs %}
        {% if object.at_goal %}
          <a class="samepage-link" href="#at_goal">At</a> goal for 6 months or longer
        {% else %}
          <a class="samepage-link" href="#at_goal">Not at goal</a> for 6 months or longer
          {% if object.last_urate_at_goal %}, but last uric acid ({{ object.labs_qs.0 }}) was at goal{% endif %}
        {% endif %}
      {% else %}
        No uric acids available
      {% endif %}
    </li>
  </ul>
</div>
