{% if object.on_ult or object.starting_ult %}
  {% if object.at_goal %}
    {% if object.on_ppx %}
      Stop prophylaxis.
    {% else %}
      Prophylaxis not indicated.
    {% endif %}
    {% if object.recent_urate %}
      Uric acid has been at goal for 6 months or longer and has been recently checked ({{ object.labs_qs.0 }}, {{ object.labs_qs.0.date }}).
    {% else %}
      Uric acid has been at goal for 6 months or longer but has not been recently checked.
      {% if object.flaring %}
        Check a uric acid.
      {% else %}
        Consider checking a uric acid.
      {% endif %}
    {% endif %}
  {% else %}
    {% if object.indicated %}
      {% if object.on_ppx %}
        Continue prophylaxis
      {% else %}
        Start prophylaxis, continue
      {% endif %}
      until uric acid has been at goal for 6 months or longer.
    {% else %}
      Prophylaxis not indicated.
    {% endif %}
    {% if not object.recent_urate %}Check a uric acid.{% endif %}
  {% endif %}
{% else %}
  Prophylaxis is not indicated if a patient is not on or starting ULT. Clarify <a href="{% url 'ults:create' %}">ULT</a> management first.
{% endif %}
