{% load project_tags %}

<div id="ppx-card" class="card spacious-cards">
  <div class="card-body">
    <h3 class="card-title">{{ object }}</h3>
    {% if object.user %}
      <a href="{% url 'ppxs:pseudopatient-update' object.user.username %}?next={{ request.path }}"
         class="btn btn-primary spacious-buttons">Update</a>
    {% else %}
      <a href="{% url 'ppxs:update' object.pk %}?next={{ request.path }}"
         class="btn btn-primary spacious-buttons">Update</a>
    {% endif %}
    {% if object.user %}
      <a href="{% url 'ppxs:pseudopatient-detail' object.user.username %}"
         class="btn btn-primary spacious-buttons">Details</a>
    {% else %}
      <a href="{% url 'ppxs:detail' object.pk %}"
         class="btn btn-primary spacious-buttons">Details</a>
    {% endif %}
    <a href="{% url 'ppxs:about' %}"
       class="btn btn-primary spacious-buttons">About</a>
  </div>
</div>
