{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load project_tags %}
{% load static %}

{% block title %}
  {% if form.instance.created %}
    Edit Ppx
  {% else %}
    New Ppx
  {% endif %}
{% endblock title %}
{% block heading %}
  <h1>PPx</h1>
{% endblock heading %}
{% block subheading %}
  Does {{ str_attrs.subject_the }} need flare prophylaxis?
{% endblock subheading %}
{% block content %}
  <main class="container">
    {% if form.instance.created %}
      {% if view.kwargs.pseudopatient %}
        <form class="form-horizontal"
              id="ppx-form"
              method="post"
              action="{% url 'ppxs:pseudopatient-update' object.user.pk %}">
          {% csrf_token %}
          {% crispy form %}
          {% include '_next_inputs.html' %}
          {% include '_submit_button.html' %}
        </form>
      {% else %}
        <form class="form-horizontal"
              id="ppx-form"
              method="post"
              action="{% url 'ppxs:update' object.pk %}">
          {% csrf_token %}
          {% crispy form %}
          {% include '_next_inputs.html' %}
          {% include '_submit_button.html' %}
        </form>
      {% endif %}
    {% else %}
      {% if view.kwargs.pseudopatient %}
        <form class="form-horizontal"
              id="ppx-form"
              method="post"
              action="{% url 'ppxs:pseudopatient-create' view.kwargs.pseudopatient %}">
          {% csrf_token %}
          {% crispy form %}
          {% include '_next_inputs.html' %}
          {% include '_submit_button.html' %}
        </form>
      {% elif view.kwargs.ppxaid %}
        <form class="form-horizontal"
              id="ppx-form"
              method="post"
              action="{% url 'ppxs:ppxaid-create' view.kwargs.ppxaid %}">
          {% csrf_token %}
          {% crispy form %}
          {% include '_next_inputs.html' %}
          {% include '_submit_button.html' %}
        </form>
      {% else %}
        <form class="form-horizontal"
              id="ppx-form"
              method="post"
              action="{% url 'ppxs:create' %}">
          {% csrf_token %}
          {% crispy form %}
          {% include '_next_inputs.html' %}
          {% include '_submit_button.html' %}
        </form>
      {% endif %}
    {% endif %}
  </main>
{% endblock content %}
{% block inline_javascript %}
  {{ block.super }}
  <script>
    $(document).ready(function() {
      $(function() {
        $('#ppx-form tbody tr').formset({
          prefix: '{{ urate_formset.prefix}}',
          added: function() {
            $('input[id*="date_drawn"]').each(function() {
              var css_class = $(this).attr('class');
              // check if css_class is not undefined and if it has 'hasDatepicker' in the class
              // https://stackoverflow.com/questions/44624656/js-jquery-how-to-dynamically-update-refresh-datepicker-value-after-changing-th
              // datepicker class needs to be removed by the cloneUrate function
              if (css_class !== undefined && css_class.includes('hasDatepicker')) {
                css_class = css_class.replace('hasDatepicker', '');
                $(this).attr('class', css_class)
              }
              $(this).datepicker({
                changeYear: true,
                minDate: "-2y",
                maxDate: "0",
              });
            })
          },
          addCssClass: 'formset-add',
          addText: "Add Urate",
          deleteCssClass: 'formset-delete',
          deleteText: "Remove",
          // Giant patch of monkies to use the remove button from django-dynamic-formsets
          // which was meant to be used with an inlineformset, not a regular formset,
          // on a regular formset. The remove button would decrement the TOTAL_FORMS count
          // and the view would delete extra forms because they wouldn't make it to cleaned_data.
          removed: function(row) {
            id_input = $(row).find("input[id$='-id']")
            // Check if the input has a value
            if (id_input.val()) {
              // If it does, check if TOTAL_FORMS is less than INITIAL_FORMS
              var initial_forms = '{{ urate_formset.prefix}}' + '-INITIAL_FORMS';
              var initial_forms_input = $('#id_' + initial_forms);
              // If it does, then add one back to formset TOTAL_FORMS
              var total_forms = '{{ urate_formset.prefix}}' + '-TOTAL_FORMS';
              var total_forms_input = $('#id_' + total_forms);
              var total_initial_dif = (parseInt(initial_forms_input.val()) - parseInt(total_forms_input.val()) + 1);
              if (total_initial_dif > 0) {
                total_forms_input.val(parseInt(total_forms_input.val()) + total_initial_dif);
              }
            }
          },
        });
      })
      datepickers();
    });
  </script>
  {% include 'medhistorydetails/_goutdetail_js.html' %}
{% endblock inline_javascript %}
