{% extends "base.html" %}

{% load static %}
{% load project_tags %}

{% block heading %}
  <div class="row">
    <div class="col">
      <h1>Ppx</h1>
    </div>
    <div class="col align-items-center d-flex justify-content-end">
      <a type="button"
         class="btn btn-primary btn-lg spacious-buttons"
         href="{% url 'ppxs:about' %}"
         role="button">About</a>
      {% if object.user %}
        <a type="button"
           class="btn btn-primary btn-lg spacious-buttons"
           href="{% url 'ppxs:pseudopatient-update' username=object.user.username %}"
           role="button">Update</a>
      {% else %}
        <a type="button"
           class="btn btn-primary btn-lg spacious-buttons"
           href="{% url 'ppxs:update' pk=object.pk %}"
           role="button">Update</a>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col">
      <span>Jump to:</span> <a class="samepage-link" href="#recommendation">
        {% if object.recommendations.keys|length > 1 %}
          Recommendations
        {% else %}
          Recommendation
        {% endif %}
      </a> |
      <a class="samepage-link" href="#details">Details</a> |
      {% if object.urates_qs %}<a class="samepage-link" href="#urates">Urates</a> |{% endif %}
      <a class="samepage-link" href="#explanations">Explanations</a>
    </div>
    <div class="col align-items-center d-flex justify-content-end">
      {% if object.user %}<span>{{ object.user }}</span>{% endif %}
    </div>
  </div>
{% endblock heading %}
{% block content %}
  <main role="main">
    <div class="container bodytainer">
      <hr size="3" color="dark" />
      <div id="recommendation">
        <div class="row">
          <div class="col">
            <h2>
              <u>
                {% if object.recommendations.keys|length > 1 %}
                  Recommendations
                {% else %}
                  Recommendation
                {% endif %}
              </u>
            </h2>
          </div>
        </div>
        <div class="row">
          {% for recommendation, explanation in object.recommendations.items %}
            <div class="col">
              <div class="card card-body spacious-cards">
                <h4 class="card-title">{{ recommendation }}</h4>
                <p class="card-text">{{ explanation }}</p>
                {% if recommendation == 'Start Prophylaxis' or recommendation == 'Consider Prophylaxis' %}
                  <hr size="3" color="dark" />
                  <div id="ppxaid">
                    <div id="row">
                      <div id="col flex-fill d-flex justify-content-center">
                        {% if object.user %}
                          {% if object.user.ppxaid %}
                            {% include 'ppxaids/ppxaid_detail_card.html' with object=object.user.ppxaid %}
                          {% else %}
                            <a type="button"
                               class="btn btn-primary btn-lg mini-button"
                               href="{% url 'ppxaids:pseudopatient-create' username=object.user.username %}?next={{ request.path }}"
                               role="button">Create PpxAid</a>
                          {% endif %}
                        {% else %}
                          {% if object.ppxaid %}
                            {% include 'ppxaids/ppxaid_detail_card.html' with object=object.ppxaid %}
                          {% else %}
                            <a type="button"
                               class="btn btn-primary btn-lg mini-button"
                               href="{% url 'ppxaids:ppx-create' ppx=object.pk %}?next={{ request.path }}"
                               role="button">Create PpxAid</a>
                          {% endif %}
                        {% endif %}
                      </div>
                    </div>
                  </div>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
      <hr size="3" color="dark" />
      <div id="details">
        <div class="row">
          <div class="col">
            <h2>
              <u>Details</u>
            </h2>
          </div>
          <div class="col align-items-center d-flex justify-content-end">
            <a href="#top"><small>Back to top</small></a>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="card card-body" id="gout-card">
              <h3 class="card-title">
                <u>Gout</u>
              </h3>
              <div class="card-text">
                <ul>
                  <li>
                    <strong><a class="samepage-link" href="#flaring">Flaring</a></strong>: {{ object.flaring_detail }}
                  </li>
                  {% if object.at_goal %}
                    <li>
                      <strong><a class="samepage-link" href="#at_goal">At Goal</a> Uric Acid</strong>: {{ object.at_goal_long_term_detail }}
                    </li>
                  {% else %}
                    <li>
                      <strong><a class="samepage-link" href="#hyperuricemic">Hyperuricemic</a></strong>: {{ object.hyperuricemic_detail }}
                    </li>
                  {% endif %}
                </ul>
                <hr size="3" color="dark" />
                <div id="goalurate">
                  <div class="row">
                    <div class="col flex-fill d-flex justify-content-center">
                      {% if object.user %}
                        {% if not object.user.goalurate %}
                          <a type="button"
                             class="btn btn-primary btn-lg mini-button"
                             hx-get="{% url 'goalurates:pseudopatient-create' username=object.user.username %}"
                             hx-target="#goalurate"
                             hx-trigger="click"
                             role="button">Create GoalUrate</a>
                        {% else %}
                          <a type="button"
                             class="btn btn-primary btn-lg mini-button"
                             hx-get="{% url 'goalurates:pseudopatient-update' object.user.username %}"
                             hx-target="#goalurate"
                             hx-trigger="click"
                             role="button">Update Goal Urate</a>
                        {% endif %}
                      {% else %}
                        {% if not object.has_goalurate %}
                          <a type="button"
                             class="btn btn-primary btn-lg mini-button"
                             hx-get="{% url 'goalurates:ppx-create' ppx=object.pk %}"
                             hx-target="#goalurate"
                             hx-trigger="click"
                             role="button">Create GoalUrate</a>
                        {% else %}
                          <a type="button"
                             class="btn btn-primary btn-lg mini-button"
                             hx-get="{% url 'goalurates:update' object.goalurate.pk %}"
                             hx-target="#goalurate"
                             hx-trigger="click"
                             role="button">Update Goal Urate</a>
                        {% endif %}
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card card-body" id="treatment-card">
              <h3 class="card-title">
                <u>Treatment</u>
              </h3>
              <div class="card-text">
                <ul>
                  {% if object.starting_ult %}
                    <li>
                      <strong><a class="samepage-link" href="#starting_ult">Starting ULT</a></strong>: {{ object.starting_ult_detail }}
                    </li>
                  {% else %}
                    <li>
                      <strong><a class="samepage-link" href="#on_ult">On ULT</a></strong>: {{ object.on_ult_detail }}
                    </li>
                  {% endif %}
                  <li>
                    <strong><a class="samepage-link" href="#on_ppx">On PPx</a></strong>: {{ object.on_ppx_detail }}
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% if object.urates_qs %}
        <hr size="3" color="dark" />
        <div id="urates">
          <div class="row">
            <div class="col">
              <h2>
                <u>Urates</u>
              </h2>
            </div>
            <div class="col align-items-center d-flex justify-content-end">
              <a href="#top"><small>Back to top</small></a>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="card card-body">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Level (mg/dL)</th>
                      <th scope="col">Date Drawn</th>
                      <th scope="col">At Goal</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for urate in object.urates_qs %}
                      <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ urate.value }}</td>
                        <td>{{ urate.date.date }}</td>
                        <td>
                          {% if urate.value > object.goal_urate %}
                            No
                          {% else %}
                            Yes
                          {% endif %}
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
      <div id="explanations">
        <hr size="3" color="dark" />
        <div class="row">
          <div class="col">
            <h2>
              <u>Explanations</u>
            </h2>
          </div>
          <div class="col align-items-center d-flex justify-content-end">
            <a href="#top"><small>Back to top</small></a>
          </div>
        </div>
        <div class="accordion" id="accordionExplanations">
          {% for explanation in object.explanations %}
            {% include "explanation_accordion_item.html" with parent="accordionExplanations" id=explanation.0 label=explanation.1 bool=explanation.2 interp=explanation.3 %}
          {% endfor %}
        </div>
      </div>
      <a href="#top"><small>Back to top</small></a>
    </div>
  </main>
{% endblock content %}
