{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load project_tags %}

{% block title %}
  {% if form.instance.created %}
    Update Ult
  {% else %}
    Create Ult
  {% endif %}
{% endblock title %}
{% block heading %}
  <h1>Ult</h1>
{% endblock heading %}
{% block subheading %}
  Does a patient need ULT? Tell us about their gout and related medical history to find out.
{% endblock subheading %}
{% block content %}
  <main class="container">
    {% if form.instance.created %}
      <form class="form-horizontal"
            method="post"
            action="{% url 'ults:update' form.instance.pk %}">
        {% csrf_token %}
        {% crispy form %}
        {% include '_submit_button.html' %}
      </form>
    {% else %}
      <form class="form-horizontal"
            method="post"
            action="{% url 'ults:create' %}">
        {% csrf_token %}
        {% crispy form %}
        {% include '_submit_button.html' %}
      </form>
    {% endif %}
  </main>
{% endblock content %}
{% block inline_javascript %}
  {{ block.super }}
  {% include 'medhistorys/_ckd_js.html' with optional=True %}
  <script>
    $(document).ready(function() {
      // For Flare datepicker
      $('#id_num_flares').change(ult_checker);
      ult_checker($('#id_num_flares'));
      $('#id_freq_flares').change(ult_checker);
      ult_checker($('#id_freq_flares'));
    });
  </script>
{% endblock inline_javascript %}
