{% extends "base.html" %}

{% load static %}
{% load project_tags %}

{% block heading %}
  <div class="row">
    <div class="col">
      <h1>Ult</h1>
    </div>
    <div class="col align-items-center d-flex justify-content-end">
      <a type="button"
         class="btn btn-primary btn-lg spacious-buttons"
         href="{% url 'ults:about' %}"
         role="button">About</a>
      {% if object.user %}
        <a type="button"
           class="btn btn-primary btn-lg spacious-buttons"
           href="{% url 'ults:pseudopatient-update' pseudopatient=object.user.pk %}"
           role="button">Update</a>
      {% else %}
        <a type="button"
           class="btn btn-primary btn-lg spacious-buttons"
           href="{% url 'ults:update' pk=object.pk %}"
           role="button">Update</a>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col">
      <span>Jump to:</span> <a class="samepage-link" href="#recommendation">
        {% if object.recommendations.keys|length > 1 %}
          Recommendations
        {% else %}
          Recommendation
        {% endif %}
      </a> |
      <a class="samepage-link" href="#details">Details</a> |
      {% if object.urates_qs %}<a class="samepage-link" href="#urates">Urates</a> |{% endif %}
      <a class="samepage-link" href="#explanations">Explanations</a>
    </div>
    <div class="col-auto align-items-center d-flex justify-content-end">
      {% if object.user %}<span>{{ object.user }}</span>{% endif %}
    </div>
  </div>
{% endblock heading %}
{% block content %}
  <main role="main">
    <div class="container bodytainer">
      <hr size="3" color="dark" />
      <div id="recommendation">
        <div class="row">
          <div class="col">
            <h2>
              <u>Recommendation</u>
            </h2>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="card card-body">
              <h3 div class="card-title">
                <b><u>{{ object.get_indication_display }}</u></b>
              </h3>
              <p class="card-text">{{ object.get_indication_interp }}</p>
              {% if object.indicated %}
                <hr size="3" color="dark" />
                <div id="ultaid">
                  <div id="row">
                    <div id="col flex-fill d-flex justify-content-center">
                      {% if object.user %}
                        {% include 'ultaids/ultaid_detail_card.html' with ultaid=object.user.ultaid marketing=True %}
                      {% else %}
                        {% include 'ultaids/ultaid_detail_card.html' with ultaid=object.ultaid marketing=True %}
                      {% endif %}
                    </div>
                  </div>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      <hr size="3" color="dark" />
      <div id="details">
        <div class="row">
          <div class="col">
            <h2>
              <u>Details</u>
            </h2>
          </div>
          <div class="col align-items-center d-flex justify-content-end">
            <a href="#top"><small>Back to top</small></a>
          </div>
        </div>
        <div class="row">
          <div id="indications" class="col">
            <div class="card card-body" id="gout-card">
              <h3 class="card-title">
                <u>Gout</u>
              </h3>
              <div class="card-text">
                <ul>
                  <li>Total gout flares: {{ object.get_num_flares_display }}</li>
                  <li>{{ object.noflares_detail }}</li>
                  <li>{{ object.firstflare_detail }}</li>
                  <li>{{ object.multipleflares_detail }}</li>
                  <li>{{ object.frequentflares_detail }}</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card card-body" id="medical-card">
              <h3 class="card-title">
                <u>Medical</u>
              </h3>
              <div class="card-text">
                <ul>
                  <li>{{ object.ckd3_detail }}</li>
                  <li>{{ object.hyperuricemia_detail }}</li>
                  <li>{{ object.uratestones_detail }}</li>
                  <li>{{ object.erosions_detail }}</li>
                  <li>{{ object.tophi_detail }}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr size="3" color="dark" />
      <div id="explanations">
        <div class="row">
          <div class="col">
            <h2>
              <u>Explanations</u>
            </h2>
          </div>
          <div class="col align-items-center d-flex justify-content-end">
            <a href="#top"><small>Back to top</small></a>
          </div>
        </div>
        <div class="accordion" id="accordionExplanations">
          {% for explanation in object.explanations %}
            {% include "explanation_accordion_item.html" with parent="accordionExplanations" id=explanation.0 label=explanation.1 bool=explanation.2 interp=explanation.3 %}
          {% endfor %}
        </div>
      </div>
      <a href="#top"><small>Back to top</small></a>
    </div>
  </main>
{% endblock content %}
{% block inline_javascript %}
  {{ block.super }}
  <script>
    $(document).ready(function() {
      $('.collapse').each(function() {
        $(this).on("hidden.bs.collapse", collapse_control);
      });
      $('.collapse').each(function() {
        $(this).on('shown.bs.collapse', expand_control);
      });
      check_for_and_expand_collapse();
    });
  </script>
{% endblock inline_javascript %}
