{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load project_tags %}

{% block title %}
  {% if form.instance.created %}
    Update Ult
  {% else %}
    Create Ult
  {% endif %}
{% endblock title %}
{% block heading %}
  <h1>Ult</h1>
{% endblock heading %}
{% block subheading %}
  Does
  {% if patient %}
    {{ patient }}
  {% else %}
    a patient
  {% endif %}
  need <a href="{% url 'treatments:about-ult' %}" target="_blank">ULT</a>? Tell us about
  {% if patient %}
    {% if patient.gender.value %}
      her
    {% else %}
      his
    {% endif %}
  {% else %}
    his or her
  {% endif %}
  gout and related medical history to find out.
{% endblock subheading %}
{% block content %}
  <main class="container">
    {% if form.instance.created %}
      {% if view.kwargs.username %}
        <form class="form-horizontal"
              method="post"
              action="{% url 'ults:pseudopatient-update' view.kwargs.username %}">
          {% csrf_token %}
          {% crispy form %}
          {% include '_submit_button.html' %}
        </form>
      {% else %}
        <form class="form-horizontal"
              method="post"
              action="{% url 'ults:update' form.instance.pk %}">
          {% csrf_token %}
          {% crispy form %}
          {% include '_submit_button.html' %}
        </form>
      {% endif %}
    {% else %}
      {% if view.kwargs.username %}
        <form class="form-horizontal"
              method="post"
              action="{% url 'ults:pseudopatient-create' view.kwargs.username %}">
          {% csrf_token %}
          {% crispy form %}
          {% include '_submit_button.html' %}
        </form>
      {% else %}
        <form class="form-horizontal"
              method="post"
              action="{% url 'ults:create' %}">
          {% csrf_token %}
          {% crispy form %}
          {% include '_submit_button.html' %}
        </form>
      {% endif %}
    {% endif %}
  </main>
{% endblock content %}
{% block inline_javascript %}
  {{ block.super }}
  {% with dob_optional=True gender_optional=True %}
    {% include 'medhistorys/_ckd_js.html' with optional=True %}
  {% endwith %}
  <script>
    $(document).ready(function() {
      // For Flare datepicker
      $('#id_num_flares').change(ult_checker);
      ult_checker($('#id_num_flares'));
      $('#id_freq_flares').change(ult_checker);
      ult_checker($('#id_freq_flares'));
    });
  </script>
{% endblock inline_javascript %}
