{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load project_tags %}

{% block title %}
  {% if form.instance.created %}
    Edit UltAid
  {% else %}
    New UltAid
  {% endif %}
{% endblock title %}
{% block heading %}
  {% if form.instance.created %}
    <h1>Edit UltAid</h1>
  {% else %}
    <h1>New UltAid</h1>
  {% endif %}
{% endblock heading %}
{% block subheading %}
  {% if form.instance.created %}
    Edit
    {% if patient %}
      {{ patient }}'s
    {% else %}
      this
    {% endif %}
    UltAid for updated recommendations.
  {% else %}
    Figure out what the best <a target="_next" href="{% url 'treatments:about-ult' %}">ULT</a> strategy is for
    {% if patient %}
      {{ patient }}
    {% else %}
      this patient
    {% endif %}
    .
  {% endif %}
{% endblock subheading %}
{% block content %}
  <main class="container">
    {% if form.instance.created %}
      {% if view.kwargs.username %}
        <form class="form-horizontal"
              method="post"
              action="{% url 'ultaids:pseudopatient-update' view.kwargs.username %}">
          {% csrf_token %}
          {% crispy form %}
          {% include '_submit_button.html' %}
        </form>
      {% else %}
        <form class="form-horizontal"
              method="post"
              action="{% url 'ultaids:update' form.instance.pk %}">
          {% csrf_token %}
          {% crispy form %}
          {% include '_submit_button.html' %}
        </form>
      {% endif %}
    {% else %}
      {% if view.kwargs.username %}
        <form class="form-horizontal"
              method="post"
              action="{% url 'ultaids:pseudopatient-create' view.kwargs.username %}">
          {% csrf_token %}
          {% crispy form %}
          {% include '_submit_button.html' %}
        </form>
      {% else %}
        <form class="form-horizontal"
              method="post"
              action="{% url 'ultaids:create' %}">
          {% csrf_token %}
          {% crispy form %}
          {% include '_submit_button.html' %}
        </form>
      {% endif %}
    {% endif %}
  </main>
{% endblock content %}
{% block inline_javascript %}
  {{ block.super }}
  {% with dob_optional=True gender_optional=True %}
    {% include 'medhistorys/_ckd_js.html' with optional=True %}
  {% endwith %}
  <script>
    $(document).ready(function() {
      check_medallergy("ALLOPURINOL");
      check_medallergy("FEBUXOSTAT");
      $('#id_medallergy_ALLOPURINOL').change(function() {
        check_medallergy("ALLOPURINOL")
      });
      $('#id_medallergy_FEBUXOSTAT').change(function() {
        check_medallergy("FEBUXOSTAT")
      });
    });
  </script>
{% endblock inline_javascript %}
