{% extends "base.html" %}

{% load static %}
{% load project_tags %}

{% block title %}
  {% if object.user %}
    UltAid: {{ object.user }}
  {% else %}
    {{ object }}
  {% endif %}
{% endblock title %}
{% block heading %}
  <div class="row">
    <div class="col">
      <h1>UltAid</h1>
      {% if object.user %}<h6>For {{ object.user }}</h6>{% endif %}
    </div>
    <div class="col align-items-center d-flex">
      <a type="button"
         class="btn btn-primary btn-lg spacious-buttons"
         href="{% url 'ultaids:about' %}"
         role="button">About</a>
      {% if object.user %}
        <a type="button"
           class="btn btn-primary btn-lg spacious-buttons"
           href="{% url 'ultaids:pseudopatient-update' pk=object.user.username %}"
           role="button">Update</a>
      {% else %}
        <a type="button"
           class="btn btn-primary btn-lg spacious-buttons"
           href="{% url 'ultaids:update' pk=object.pk %}"
           role="button">Update</a>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col">
      <span>Jump to:</span> <a class="samepage-link" href="#recommendation">Recommendation</a> | <a class="samepage-link" href="#options">Options</a> | <a class="samepage-link" href="#not_options">Not Recommended</a> | <a class="samepage-link" href="#explanations">Explanations</a>
    </div>
  </div>
{% endblock heading %}
{% block content %}
  <main role="main">
    <div class="container bodytainer">
      <div id="recommendation">
        <hr size="3" color="dark" />
        <h3>
          <u>Recommendation</u>
        </h3>
        <div class="row">
          {% include "treatments/partials/recommendation.html" with recommendation=object.recommendation trttype=object.trttype %}
          {% if object.goalurate %}
            {% if patient %}
              {% include 'goalurates/partials/goalurate_detail.html' with object=object.user %}
            {% else %}
              {% include 'goalurates/partials/goalurate_detail.html' with object=object.goalurate %}
            {% endif %}
          {% else %}
            <div class="col-auto">
              <div id="goalurate">
                {% if patient %}
                  <a type="button"
                     class="btn btn-primary btn-lg mini-button"
                     hx-get="{% url 'goalurates:pseudopatient-create' username=patient.username %}"
                     hx-target="#goalurate"
                     hx-trigger="click"
                     role="button">Goal Urate</a>
                {% else %}
                  <a type="button"
                     class="btn btn-primary btn-lg mini-button"
                     hx-get="{% url 'goalurates:ultaid-create' ultaid=object.pk %}"
                     hx-target="#goalurate"
                     hx-trigger="click"
                     role="button">Goal Urate</a>
                {% endif %}
              </div>
            </div>
          {% endif %}
        </div>
      </div>
      {% if object.recommendation %}
        {% include "treatments/partials/options.html" with options=object.options_without_rec trttype=object.trttype %}
      {% endif %}
      {% if object.not_options %}
        {% include "treatments/partials/not_options.html" %}
      {% endif %}
      {% if object.organtransplant or object.recommendation.0 == "FEBUXOSTAT" and object.cvdiseases or object.options and "FEBUXOSTAT" in object.options and object.cvdiseases %}
        <div id="warnings">
          <hr size="3" color="dark" />
          <div class="row">
            <div class="col">
              <h3>
                <u>Warnings</u>
              </h3>
            </div>
          </div>
          <div class="row">
            {% if object.organtransplant %}
              <div class="col">{% include "medhistorys/aid_warnings/organtransplant.html" with id="organtransplant" %}</div>
            {% endif %}
            {% if object.recommendation.0 == "FEBUXOSTAT" and object.cvdiseases or object.options and "FEBUXOSTAT" in object.options and object.cvdiseases %}
              <div class="col">{% include "medhistorys/aid_warnings/cvdiseases.html" with id="cvdiseases" aidtype="UltAid" %}</div>
            {% endif %}
            {% if not object.hlab5801 and not object.hlab5801_contra %}
              <div class="col">{% include "labs/aid_warnings/hlab5801.html" with id="hlab5801" %}</div>
            {% endif %}
          </div>
        </div>
      {% endif %}
      <div id="explanations">
        <hr size="3" color="dark" />
        <div class="row">
          <div class="col">
            <h3>
              <u>Explanations</u>
            </h3>
          </div>
        </div>
        <div class="accordion" id="accordionExplanations">
          {% for explanation in object.explanations %}
            {% include "explanation_accordion_item.html" with parent="accordionExplanations" id=explanation.0 label=explanation.1 bool=explanation.2 interp=explanation.3 %}
          {% endfor %}
        </div>
      </div>
      <a href="#top">Back to top</a>
    </div>
  </main>
{% endblock content %}
