{% extends "base.html" %}

{% load static %}
{% load project_tags %}

{% block title %}
  {% if object.user %}
    UltAid: {{ object.user }}
  {% else %}
    {{ object }}
  {% endif %}
{% endblock title %}
{% block heading %}
  <div class="row">
    <div class="col">
      <h1>UltAid</h1>
    </div>
    <div class="col align-items-center d-flex justify-content-end">
      <a type="button"
         class="btn btn-primary btn-lg spacious-buttons"
         href="{% url 'ultaids:about' %}"
         role="button">About</a>
      {% if object.user %}
        <a type="button"
           class="btn btn-primary btn-lg spacious-buttons"
           href="{% url 'ultaids:pseudopatient-update' username=object.user.username %}"
           role="button">Update</a>
      {% else %}
        <a type="button"
           class="btn btn-primary btn-lg spacious-buttons"
           href="{% url 'ultaids:update' pk=object.pk %}"
           role="button">Update</a>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col">
      <span>Jump to:</span> <a class="samepage-link" href="#recommendation">Recommendation</a>
      {% if object.options_without_rec %}| <a class="samepage-link" href="#options">Options</a>{% endif %}
      | <a class="samepage-link" href="#not_options">Not Recommended</a> | <a class="samepage-link" href="#explanations">Explanations</a>
    </div>
    <div class="col-auto align-items-center d-flex justify-content-end">
      {% if object.user %}<span>{{ object.user }}</span>{% endif %}
    </div>
  </div>
{% endblock heading %}
{% block content %}
  <main role="main">
    <div class="container bodytainer">
      <div id="recommendation">
        <hr size="3" color="dark" />
        <h2>
          <u>Recommendation</u>
        </h2>
        <div class="row">
          {% include "treatments/partials/recommendation.html" with recommendation=object.recommendation trttype=object.trttype %}
          <div class="col">
            {% if object.recommendation %}
              <div class="card card-body spacious-cards">
                <h4 class="card-title">Universal ULT Instructions</h4>
                <ul>
                  <li>
                    Requires dose adjustment until uric acid is <a target='_next' href="{% url 'goalurates:about' %}">at goal</a>
                  </li>
                  <li>Take as prescribed and do not skip doses</li>
                  <li>Does not work if taken only during gout flares</li>
                  <li>Does not treat gout flares, ULT is for prevention</li>
                </ul>
              </div>
            {% endif %}
            {% if object.goalurate %}
              {% if patient %}
                {% include 'goalurates/partials/goalurate_detail.html' with object=object.user ult=object.recommendation.0.lower %}
              {% else %}
                {% include 'goalurates/partials/goalurate_detail.html' with object=object.goalurate ult=object.recommendation.0.lower %}
              {% endif %}
            {% else %}
              <div>
                <div class="card card-body spacious-cards" id="goalurate">
                  <h4 class="card-title">Goal Uric Acid</h4>
                  <ul>
                    <li>
                      ULT is used to reduce
                      {% if patient %}
                        {{ patient }}'s
                      {% else %}
                        the patient's
                      {% endif %}
                      blood uric acid to goal level.
                    </li>
                    <li>This level is dependent on the gout severity and if maintained the risk of gout flares is essentially zero.</li>
                    <li>ULT medications are dose adjusted until the goal level is reached.</li>
                    <li>Once 'at goal', a maintenance dose is prescribed to keep the uric acid at this level.</li>
                    <li>
                      Use the GoalUrate decision aid to figure out what
                      {% if patient %}
                        {{ patient }}'s
                      {% else %}
                        the patient's
                      {% endif %}
                      goal uric acid is.
                    </li>
                  </ul>
                  {% if patient %}
                    <a type="button"
                       class="btn btn-primary btn-lg mini-button"
                       hx-get="{% url 'goalurates:pseudopatient-create' username=patient.username %}"
                       hx-target="#goalurate"
                       hx-trigger="click"
                       role="button">Create GoalUrate</a>
                  {% else %}
                    <a type="button"
                       class="btn btn-primary btn-lg mini-button"
                       hx-get="{% url 'goalurates:ultaid-create' ultaid=object.pk %}"
                       hx-target="#goalurate"
                       hx-trigger="click"
                       role="button">Create GoalUrate</a>
                  {% endif %}
                </div>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
      {% if object.recommendation %}
        {% include "treatments/partials/options.html" with options=object.options_without_rec trttype=object.trttype %}
      {% endif %}
      {% if object.not_options %}
        {% include "treatments/partials/not_options.html" %}
      {% endif %}
      <div id="explanations">
        <hr size="3" color="dark" />
        <div class="row">
          <div class="col">
            <h2>
              <u>Explanations</u>
            </h2>
          </div>
          <div class="col align-items-center d-flex justify-content-end">
            <a href="#top"><small>Back to top</small></a>
          </div>
        </div>
        <div class="accordion" id="accordionExplanations">
          {% for explanation in object.explanations %}
            {% include "explanation_accordion_item.html" with parent="accordionExplanations" id=explanation.0 label=explanation.1 bool=explanation.2 interp=explanation.3 %}
          {% endfor %}
        </div>
      </div>
      <a href="#top">Back to top</a>
    </div>
  </main>
{% endblock content %}
