{% load project_tags %}

<div id="ultaid-card" class="card spacious-cards">
  <div class="card-body">
    <div class="row">
      <div class="col">
        <h3 class="card-title">
          {% if object.recommendation %}
            Recommended ULT: <u>{{ object.recommendation.0.lower.capitalize }}</u>
          {% else %}
            No Recommendation Available
          {% endif %}
        </h3>
      </div>
      <div class="col align-items-center d-flex justify-content-end">
        <button class="btn btn-secondary btn-sm"
                id="ultaid_card_collapse_control"
                data-bs-toggle="collapse"
                data-bs-target="#ultaid_card_collapse"
                type="button"
                aria-expanded="true"
                aria-controls="ultaid_card_collapse">Hide</button>
      </div>
    </div>
    <div class="collapse show" id="ultaid_card_collapse">
      {% if object.recommendation %}
        {% call_method object 'treatment_dosing_dict' object.recommendation.0 as dosing_dict %}
        <ul>
          {% for key, val in dosing_dict.items %}
            <li>
              <strong>{{ key }}</strong>: {{ val }}
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <ul>
          <li>{{ object.recommendation_is_none_str }}</li>
        </ul>
      {% endif %}
      {% if object.user %}
        <a href="{% url 'ultaids:pseudopatient-update' object.user.username %}?next={{ request.path }}"
           class="btn btn-primary btn-lg mini-button">Update</a>
      {% else %}
        <a href="{% url 'ultaids:update' object.pk %}?next={{ request.path }}"
           class="btn btn-primary btn-lg mini-button">Update</a>
      {% endif %}
      {% if object.user %}
        <a href="{% url 'ultaids:pseudopatient-detail' object.user.username %}"
           class="btn btn-primary spacious-buttons">Details</a>
      {% else %}
        <a href="{% url 'ultaids:detail' object.pk %}"
           class="btn btn-primary spacious-buttons">Details</a>
      {% endif %}
      <a href="{% url 'ultaids:about' %}"
         class="btn btn-primary spacious-buttons">About</a>
    </div>
  </div>
</div>
