{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load project_tags %}

{% block title %}
  {% if form.instance.created %}
    Update UltAid
  {% else %}
    New UltAid
  {% endif %}
{% endblock title %}
{% block heading %}
  <h1>UltAid</h1>
{% endblock heading %}
{% block subheading %}
  Make a customized ULT strategy. Tell us about the patient.
{% endblock subheading %}
{% block content %}
  <main class="container">
    {% if form.instance.created %}
      <form class="form-horizontal"
            method="post"
            action="{% url 'ultaids:update' form.instance.pk %}">
        {% csrf_token %}
        {% crispy form %}
        {% include '_submit_button.html' %}
      </form>
    {% else %}
      <form class="form-horizontal"
            method="post"
            action="{% url 'ultaids:create' %}">
        {% csrf_token %}
        {% crispy form %}
        {% include '_submit_button.html' %}
      </form>
    {% endif %}
  </main>
{% endblock content %}
{% block inline_javascript %}
  {{ block.super }}
  {% with dob_optional=True gender_optional=True %}
    {% include 'medhistorys/_ckd_js.html' with optional=True %}
  {% endwith %}
{% endblock inline_javascript %}
