{% load project_tags %}

<div id="ultaid-card" class="card spacious-cards">
  <div class="card-body" id="ultaid">
    {% if ultaid %}
      <div class="row">
        <div class="col">
          <h4 class="card-title">
            {% if ultaid.user %}
              <!-- djlint:off --><a href="{% url 'ultaids:pseudopatient-detail' ultaid.user.pk %}"><!-- djlint:on -->
            {% else %}
              <a href="{% url 'ultaids:detail' ultaid.pk %}">
              {% endif %}
              UltAid:
              {% if ultaid.recommendation %}
                {{ ultaid.recommendation.0.lower.capitalize }}
              {% else %}
                Rheumatologist Required
              {% endif %}
            </a>
          </h4>
        </div>
        <div class="col-auto align-items-center d-flex justify-content-end">
          <button class="btn btn-secondary"
                  id="ultaid_card_collapse_control"
                  data-bs-toggle="collapse"
                  data-bs-target="#ultaid_card_collapse"
                  type="button"
                  aria-expanded="true"
                  aria-controls="ultaid_card_collapse">Show</button>
        </div>
      </div>
      <div class="collapse mini-card-content" id="ultaid_card_collapse">
        <div class="row">
          <div class="col">
            {% if ultaid.recommendation %}
              {% call_method ultaid 'treatment_dosing_dict' ultaid.recommendation.0 as dosing_dict %}
              <ul>
                {% for key, val in dosing_dict.items %}
                  <li>
                    <strong>{{ key }}</strong>: {{ val }}
                  </li>
                {% endfor %}
              </ul>
            {% else %}
              <ul>
                <li>{{ ultaid.recommendation_is_none_str }}</li>
              </ul>
            {% endif %}
          </div>
        </div>
        {% if ultaid.user %}
          <a href="{% url 'ultaids:pseudopatient-update' ultaid.user.pk %}?next={{ request.path }}"
             class="btn btn-primary">Update</a>
        {% else %}
          <a href="{% url 'ultaids:update' ultaid.pk %}?next={{ request.path }}"
             class="btn btn-primary">Update</a>
        {% endif %}
        <a href="{% url 'ultaids:about' %}" class="btn btn-primary">About</a>
      </div>
    {% else %}
      <div class="row">
        <div class="col">
          <h4 class="card-title">
            <a href="{% url 'ultaids:about' %}">UltAid</a>:
            {% if marketing %}
              get custom ULT recommendations for {{ object }}
            {% else %}
              none
            {% endif %}
          </h4>
        </div>
        <div class="col-auto">
          {% if object|is_pseudopatient %}
            <a type="button"
               class="btn btn-primary"
               href="{% url 'ultaids:pseudopatient-create' pseudopatient=object.pk %}?next={{ request.path }}"
               role="button">Create</a>
          {% elif object.user %}
            <a type="button"
               class="btn btn-primary"
               href="{% url 'ultaids:pseudopatient-create' pseudopatient=object.user.pk %}?next={{ request.path }}"
               role="button">Create</a>
          {% else %}
            <a type="button"
               class="btn btn-primary"
               href="{% url 'ultaids:create' %}?next={{ request.path }}"
               role="button">Create</a>
          {% endif %}
        </div>
      </div>
    {% endif %}
  </div>
</div>
