{% load project_tags %}

<div id="ultaid-card" class="card spacious-cards">
  <div class="card-body" id="ultaid">
    <h3 class="card-title">
      UltAid:
      {% if object.recommendation %}
        {{ object.recommendation.0.lower.capitalize }}
      {% else %}
        Rheumatologist Required
      {% endif %}
    </h3>
    {% if object.user %}
      <a href="{% url 'ultaids:pseudopatient-update' object.user.username %}?next={{ request.path }}"
         class="btn btn-primary btn-sm">Update</a>
      <a href="{% url 'ultaids:pseudopatient-detail' object.user.username %}"
         class="btn btn-primary btn-sm">Details</a>
    {% else %}
      <a href="{% url 'ultaids:update' object.pk %}?next={{ request.path }}"
         class="btn btn-primary btn-sm">Update</a>
      <a href="{% url 'ultaids:detail' object.pk %}"
         class="btn btn-primary btn-sm">Details</a>
    {% endif %}
    <a href="{% url 'ultaids:about' %}" class="btn btn-primary btn-sm">About</a>
  </div>
</div>
