<div id="flareaid-card" class="card text-center spacious-cards">
  <div class="card-body">
    <h2 class="card-title">FlareAid</h2>
    <p class="card-text">
      Everyone who has gout should have a treatment plan for gout flares. GoutHelper's <strong>FlareAid</strong>
      tool recommends flare treatment for a patient customized for his or her characteristics and medical history.
    </p>
    <a href="{% url 'flareaids:create' %}"
       class="btn btn-primary spacious-buttons">Create</a>
    <a href="{% url 'flareaids:about' %}"
       class="btn btn-primary spacious-buttons">About</a>
  </div>
</div>
