<div id="flareaid-card" class="card text-center spacious-cards">
  <div class="card-body">
    <h2 class="card-title">FlareAid</h2>
    <p class="card-text">
      Treatment of gout flares isn't rocket science, but there are some considerations when determining
      the best treatment for a patient and his or her flare. GoutHelper's <strong>FlareAid</strong> tool
      helps you determine what the best treatment is for your patient.
    </p>
    <a href="{% url 'flareaids:create' %}"
       class="btn btn-primary spacious-buttons">Create</a>
    <a href="{% url 'flareaids:about' %}"
       class="btn btn-primary spacious-buttons">About</a>
  </div>
</div>
