{% extends "base.html" %}

{% load static %}
{% load project_tags %}

{% block heading %}
  <div class="row">
    <div class="col">
      <h1>FlareAid</h1>
      <h6>
        {% if object.user %}For {{ object.user }}{% endif %}
      </h6>
    </div>
    <div class="col-auto align-items-center d-flex justify-content-end">
      <a type="button"
         class="btn btn-primary btn-lg spacious-buttons"
         href="{% url 'flareaids:about' %}"
         role="button">About</a>
      {% if object.user %}
        <a type="button"
           class="btn btn-primary btn-lg spacious-buttons"
           href="{% url 'flareaids:pseudopatient-update' username=object.user.username %}"
           role="button">Update</a>
      {% else %}
        <a type="button"
           class="btn btn-primary btn-lg spacious-buttons"
           href="{% url 'flareaids:update' pk=object.pk %}"
           role="button">Update</a>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col">
      <span>Jump to:</span> <a class="samepage-link" href="#recommendation">Recommendation</a> | <a class="samepage-link" href="#options">Options</a> | <a class="samepage-link" href="#not_options">Not Recommended</a> | <a class="samepage-link" href="#explanations">Explanations</a>
    </div>
  </div>
{% endblock heading %}
{% block content %}
  <main role="main">
    <div class="container bodytainer">
      <div id="recommendation">
        <hr size="3" color="dark" />
        <h3>
          <u>Recommendation</u>
        </h3>
        <div class="row">
          {% include "treatments/partials/recommendation.html" with recommendation=object.recommendation trttype=object.trttype %}
          {% if object.recommendation %}
            <div class="col">
              <div class="card card-body spacious-cards">
                <h4 class="card-title">Universal Flare Treatment Instructions</h4>
                <ul>
                  <li>Take first dose immediately at start of symptoms</li>
                  <li>Stop the medication when symptoms resolve</li>
                  <li>Do not take more than the recommended dose</li>
                  <li>Call your doctor if your symptoms do not improve</li>
                </ul>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
      {% if object.recommendation %}
        {% include "treatments/partials/options.html" with options=object.options_without_rec trttype=object.trttype %}
      {% endif %}
      {% if object.not_options %}
        {% include "treatments/partials/not_options.html" %}
      {% endif %}
      <div id="explanations">
        <hr size="3" color="dark" />
        <div class="row">
          <div class="col">
            <h3>
              <u>Explanations</u>
            </h3>
          </div>
        </div>
        <div class="accordion" id="accordionExplanations">
          {% for explanation in object.explanations %}
            {% include "explanation_accordion_item.html" with parent="accordionExplanations" id=explanation.0 label=explanation.1 bool=explanation.2 interp=explanation.3 %}
          {% endfor %}
        </div>
        <div class="row">
          <div class="col">
            {% include "_explanation.html" with aidtype="FlareAid" con_obj=cvdiseases id="cvdiseases" label="Cardiovascular Diseases" %}
            {% include "_explanation.html" with aidtype="FlareAid" con_obj=ibd id="ibd" label="Inflammatory Bowel Disease" %}
            {% include "_explanation.html" with aidtype="FlareAid" con_obj=colchicineinteraction id="colchicineinteraction" label="Colchicine Medication Interactions" %}
            {% include "_explanation.html" with aidtype="FlareAid" con_obj=ckd id="ckd" label="CKD" %}
            {% include "_explanation.html" with aidtype="FlareAid" con_obj=organtransplant id="organtransplant" label="Organ Transplant" %}
            {% include "_explanation.html" with aidtype="FlareAid" con_obj=anticoagulation id="anticoagulation" label="Anticoagulation" %}
            {% include "_explanation.html" with aidtype="FlareAid" con_obj=bleed id="bleed" label="Bleed" %}
            {% include "_explanation.html" with aidtype="FlareAid" con_obj=pud id="pud" label="Peptic Ulcer Disease" %}
            {% include "_explanation.html" with aidtype="FlareAid" con_obj=gastricbypass id="gastricbypass" label="Gastric Bypass" %}
            {% include "_explanation.html" with aidtype="FlareAid" con_obj=medallergys id="medallergys" label="Medication Allergies" %}
            {% include "_explanation.html" with aidtype="FlareAid" con_obj=diabetes id="diabetes" label="Diabetes" %}
            {% include "_explanation.html" with aidtype="FlareAid" con_obj=dateofbirth id="age" label="Age" %}
          </div>
        </div>
      </div>
      <a href="#top">Back to top</a>
    </div>
  </main>
{% endblock content %}
{% block inline_javascript %}
  {{ block.super }}
  <script>
    $(document).ready(function() {
      $(".collapse-toggle").each(function() {
        check_plusminus($(this).attr('id'));
      })
      $('.collapse-explanation').each(function() {
        $(this).on("hidden.bs.collapse", collapse_control);
      });
      $('.collapse-explanation').each(function() {
        $(this).on('shown.bs.collapse', expand_control);
      });
    });
  </script>
{% endblock inline_javascript %}
