{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load project_tags %}

{% block title %}
  New FlareAid
{% endblock title %}
{% block heading %}
  <h1>Gout FlareAid</h1>
{% endblock heading %}
{% block subheading %}
  Figure out how to treat a gout flare.
{% endblock subheading %}
{% block content %}
  <main class="container">
    {% if form.instance.created %}
      <form class="form-horizontal"
            method="post"
            action="{% url 'flareaids:update' form.instance.pk %}">
        {% csrf_token %}
        {% crispy form %}
        {% include '_submit_button.html' %}
      </form>
    {% else %}
      {% if view.kwargs.username %}
        <form class="form-horizontal"
              method="post"
              action="{% url 'flareaids:patient-create' view.kwargs.username %}">
          {% csrf_token %}
          {% crispy form %}
          {% include '_submit_button.html' %}
        </form>
      {% else %}
        <form class="form-horizontal"
              method="post"
              action="{% url 'flareaids:create' %}">
          {% csrf_token %}
          {% crispy form %}
          {% include '_submit_button.html' %}
        </form>
      {% endif %}
    {% endif %}
  </main>
{% endblock content %}
{% block inline_javascript %}
  {{ block.super }}
  {% include 'medhistorys/_ckd_js.html' %}
{% endblock inline_javascript %}
