{% extends "base.html" %}

{% load static %}
{% load project_tags %}

{% block title %}
  {% if object.user %}
    FlareAid: {{ object.user }}
  {% else %}
    {{ object }}
  {% endif %}
{% endblock title %}
{% block heading %}
  <div class="row">
    <div class="col">
      <h1>FlareAid</h1>
      {% if object.user %}<h6>For {{ object.user }}</h6>{% endif %}
    </div>
    <div class="col-auto align-items-center d-flex justify-content-end">
      <a type="button"
         class="btn btn-primary btn-lg spacious-buttons"
         href="{% url 'flareaids:about' %}"
         role="button">About</a>
      {% if object.user %}
        <a type="button"
           class="btn btn-primary btn-lg spacious-buttons"
           href="{% url 'flareaids:pseudopatient-update' username=object.user.username %}"
           role="button">Update</a>
      {% else %}
        <a type="button"
           class="btn btn-primary btn-lg spacious-buttons"
           href="{% url 'flareaids:update' pk=object.pk %}"
           role="button">Update</a>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col">
      <span>Jump to:</span> <a class="samepage-link" href="#recommendation">Recommendation</a>
      {% if object.options_without_rec %}| <a class="samepage-link" href="#options">Options</a>{% endif %}
      | <a class="samepage-link" href="#not_options">Not Recommended</a> | <a class="samepage-link" href="#explanations">Explanations</a>
    </div>
  </div>
{% endblock heading %}
{% block content %}
  <main role="main">
    <div class="container bodytainer">
      <div id="recommendation">
        <hr size="3" color="dark" />
        <h3>
          <u>Recommendation</u>
        </h3>
        <div class="row">
          {% include "treatments/partials/recommendation.html" with recommendation=object.recommendation trttype=object.trttype %}
          {% if object.recommendation %}
            <div class="col">
              <div class="card card-body spacious-cards">
                <h4 class="card-title">Universal Flare Treatment Instructions</h4>
                <ul>
                  <li>Take first dose immediately at start of symptoms</li>
                  <li>Stop the medication when symptoms resolve</li>
                  <li>Do not take more than the recommended dose</li>
                  <li>Call your doctor if your symptoms do not improve</li>
                </ul>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
      {% if object.recommendation %}
        {% include "treatments/partials/options.html" with options=object.options_without_rec trttype=object.trttype %}
      {% endif %}
      {% if object.not_options %}
        {% include "treatments/partials/not_options.html" %}
      {% endif %}
      <div id="explanations">
        <hr size="3" color="dark" />
        <div class="row">
          <div class="col">
            <h3>
              <u>Explanations</u>
            </h3>
          </div>
        </div>
        <div class="accordion" id="accordionExplanations">
          {% for explanation in object.explanations %}
            {% include "explanation_accordion_item.html" with parent="accordionExplanations" id=explanation.0 label=explanation.1 bool=explanation.2 interp=explanation.3 %}
          {% endfor %}
        </div>
      </div>
      <a href="#top">Back to top</a>
    </div>
  </main>
{% endblock content %}
