{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load project_tags %}

{% block title %}
  {% if form.instance.created %}
    Edit FlareAid
  {% else %}
    New FlareAid
  {% endif %}
{% endblock title %}
{% block heading %}
  {% if form.instance.created %}
    <h1>Edit FlareAid</h1>
  {% else %}
    <h1>New FlareAid</h1>
  {% endif %}
{% endblock heading %}
{% block subheading %}
  {% if form.instance.created %}
    Edit
    {% if patient %}
      {{ patient }}'s
    {% else %}
      this
    {% endif %}
    FlareAid for updated recommendations.
  {% else %}
    Create treatment recommendations for
    {% if view.related_object %}
      the patient's ({{ view.related_object.age }}{{ view.related_object.gender_abbrev }}) gout flare ({{ view.related_object.dates }}).
    {% else %}
      {{ str_attrs.subject_the_pos }} gout flares.
    {% endif %}
  {% endif %}
{% endblock subheading %}
{% block content %}
  <main class="container">
    {% if form.instance.created %}
      {% if view.kwargs.pseudopatient %}
        {% if flare %}
          <form class="form-horizontal"
                method="post"
                action="{% url 'flareaids:pseudopatient-flare-update' object.user.pk flare.pk %}">
            {% csrf_token %}
            {% crispy form %}
            {% include '_next_inputs.html' %}
            {% include '_submit_button.html' %}
          </form>
        {% else %}
          <form class="form-horizontal"
                method="post"
                action="{% url 'flareaids:pseudopatient-update' object.user.pk %}">
            {% csrf_token %}
            {% crispy form %}
            {% include '_next_inputs.html' %}
            {% include '_submit_button.html' %}
          </form>
        {% endif %}
      {% else %}
        <form class="form-horizontal"
              method="post"
              action="{% url 'flareaids:update' object.pk %}">
          {% csrf_token %}
          {% crispy form %}
          {% include '_next_inputs.html' %}
          {% include '_submit_button.html' %}
        </form>
      {% endif %}
    {% else %}
      {% if view.kwargs.pseudopatient %}
        {% if flare %}
          <form class="form-horizontal"
                method="post"
                action="{% url 'flareaids:pseudopatient-flare-create' view.kwargs.pseudopatient flare.pk %}">
            {% csrf_token %}
            {% crispy form %}
            {% include '_next_inputs.html' %}
            {% include '_submit_button.html' %}
          </form>
        {% else %}
          <form class="form-horizontal"
                method="post"
                action="{% url 'flareaids:pseudopatient-create' view.kwargs.pseudopatient %}">
            {% csrf_token %}
            {% crispy form %}
            {% include '_next_inputs.html' %}
            {% include '_submit_button.html' %}
          </form>
        {% endif %}
      {% else %}
        {% if view.related_object %}
          <form class="form-horizontal"
                method="post"
                action="{% url 'flareaids:flare-create' view.related_object.pk %}">
            {% csrf_token %}
            {% crispy form %}
            {% include '_next_inputs.html' %}
            {% include '_submit_button.html' %}
          </form>
        {% else %}
          <form class="form-horizontal"
                method="post"
                action="{% url 'flareaids:create' %}">
            {% csrf_token %}
            {% crispy form %}
            {% include '_next_inputs.html' %}
            {% include '_submit_button.html' %}
          </form>
        {% endif %}
      {% endif %}
    {% endif %}
  </main>
{% endblock content %}
{% block inline_javascript %}
  {{ block.super }}
  {% with dob_optional=False gender_optional=True %}
    {% include 'medhistorydetails/_ckddetail_js.html' %}
  {% endwith %}
{% endblock inline_javascript %}
