{% load project_tags %}

{% block heading %}
  {% if id == "hlab5801" %}
    {% if object.hlab5801 is None and object.ethnicity is not None and object.ethnicity|risk_ethnicity and not object.ultaidsettings.allo_risk_ethnicity_no_hlab5801 %}
      <li>
        <a class="samepage-link" href="#hlab5801">HLA-B*58:01</a> unknown
      </li>
    {% else %}
      <li>
        <a class="samepage-link" href="#hlab5801">HLA-B*58:01</a> (+)
      </li>
    {% endif %}
  {% else %}
    <li>
      <a class="samepage-link" href="#{{ id }}">
        {% if id == "medallergys" %}
          {% with object|getattribute:allergy as allergy_obj %}
            {% if allergy_obj|is_list %}
              {% if allergy_obj|length == 1 %}
                {{ allergy_obj.0 }}
              {% else %}
                Allergies: {{ allergy_obj|comprehend_list_attr:"treatment"|join:", "|lower }}
              {% endif %}
            {% else %}
              {{ allergy_obj }}
            {% endif %}
          {% endwith %}
        {% else %}
          {{ object|getattribute:id }}
        {% endif %}
      </a>
    </li>
  {% endif %}
{% endblock heading %}
{% block text %}
  {% if id == "ckd" and aidtype and aidtype != "Flare" %}
    <ul>
      {% if object.ckd.ckddetail %}
        {% if object.ckd.ckddetail.stage %}
          <li>Stage: {{ object.ckd.ckddetail.stage }}</li>
          {% if object.ckd.baselinecreatinine %}
            <li>Baseline Creatinine: {{ object.ckd.baselinecreatinine.value_str }}</li>
          {% endif %}
        {% endif %}
        {% if object.ckd.ckddetail.dialysis %}
          <li>
            On {{ object.ckd.ckddetail.get_dialysis_type_display.lower }} {{ object.ckd.ckddetail.get_dialysis_duration_display.lower }}
          </li>
        {% endif %}
      {% else %}
        <li>Stage: unknown</li>
      {% endif %}
    </ul>
  {% elif id == "hlab5801" %}
    <ul>
      {% if object.hlab5801 is None and object.ethnicity is not None and object.ethnicity|risk_ethnicity and not object.ultaidsettings.allo_risk_ethnicity_no_hlab5801 %}
        <ul>
          <li>Ethnicity ({{ ethnicity.value }}) high prevalence</li>
        </ul>
      {% endif %}
    </ul>
  {% endif %}
{% endblock text %}
