{% load static i18n django_htmx project_tags %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>
      {% block title %}
        Gouthelper
      {% endblock title %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Web app and API for all things gout." />
    <meta name="author" content="Dave Ewart, MD" />
    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}" />
    {% block css %}
      <!-- Your stuff: Third-party CSS libraries go here -->
      <!-- This file stores project-specific CSS -->
      <link href="{% static 'css/project.min.css' %}" rel="stylesheet" />
    {% endblock css %}
    <!-- Le javascript
    ================================================== -->
    {# Placed at the top of the document so pages load faster with defer #}
    {% block javascript %}
      <!-- Vendor dependencies bundled as one file -->
      <script defer src="{% static 'js/vendors.min.js' %}"></script>
      <!-- 3rd party JS dependencies not merged into vendor file above -->
      <script defer src="{% static 'js/htmx/htmx.min.js' %}"></script>
      <script defer src="{% static 'js/htmx/debug.js' %}"></script>
      <!-- Script for django-dynamic-formset -->
      <script defer src="{% static 'js/jquery.formset.js' %}"></script>
      <!-- place project specific Javascript in this file -->
      <script defer src="{% static 'js/project.min.js' %}"></script>
    {% endblock javascript %}
  </head>
  <body>
    <div class="mb-1">
      <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container-fluid">
          <button class="navbar-toggler navbar-toggler-right"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent"
                  aria-expanded="false"
                  aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="{% url 'contents:home' %}">Gouthelper</a>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'contents:home' %}">Home <span class="visually-hidden">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'blog:blog' %}">Blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'flares:create' %}">Flare</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'flareaids:create' %}">FlareAid</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'goalurates:create' %}">GoalUrate</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'ppxaids:create' %}">PpxAid</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'ppxs:create' %}">Ppx</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'ultaids:create' %}">UltAid</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'ults:create' %}">Ult</a>
              </li>
              {% if request.user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link"
                     href="{% url 'users:detail' request.user.username %}">{% translate "My Profile" %}</a>
                </li>
                <li class="nav-item">
                  {# URL provided by django-allauth/account/urls.py #}
                  <a class="nav-link" href="{% url 'account_logout' %}">{% translate "Sign Out" %}</a>
                </li>
              {% else %}
                {% if ACCOUNT_ALLOW_REGISTRATION %}
                  <li class="nav-item">
                    {# URL provided by django-allauth/account/urls.py #}
                    <a id="sign-up-link" class="nav-link" href="{% url 'account_signup' %}">{% translate "Sign Up" %}</a>
                  </li>
                  <li class="nav-item">
                    {# URL provided by django-allauth/account/urls.py #}
                    <a id="log-in-link" class="nav-link" href="{% url 'account_login' %}">{% translate "Sign In" %}</a>
                  </li>
                {% endif %}
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <div class="container">
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% endif %}">
            {{ message }}
            <button type="button"
                    class="btn-close"
                    data-bs-dismiss="alert"
                    aria-label="Close"></button>
          </div>
        {% endfor %}
      {% endif %}
      {% block header %}
        <header class="header container">
          {% block heading %}
          {% endblock heading %}
          <p class="lead">
            {% block subheading %}
            {% endblock subheading %}
          </p>
        </header>
      {% endblock header %}
      {% block content %}
        <p>Use this document as a way to quick start any new project.</p>
      {% endblock content %}
      {% block footer %}
        <footer class="footer container">
          <hr size="3" color="dark" />
          <blockquote class="blockquote footer-blockquote">
            <p class="text-muted small">
              Gouthelper is the private opinion of one amateur web developer who also happens to be a rheumatologist.
              It does not represent his professional opinion, that of his employer, or any referenced professional society.
              Gouthelper is not a substitute for actual medical advice from a real provider and should not be used as such.
            </p>
            <p class="text-muted small">
              <a href="{% url 'contents:about' %}">About Gouthelper</a>
            </p>
            <p class="text-muted small">
              <a href="{% url 'contact:contact' %}">Contact</a> us with any questions or concerns.
            </p>
          </blockquote>
        </footer>
      {% endblock footer %}
    </div>
    <!-- /container -->
    {% block modal %}
    {% endblock modal %}
    {% block inline_javascript %}
      {% comment %}
    Script tags with only code, no src (defer by default). To run
    with a "defer" so that you run inline code:
    <script>
      window.addEventListener('DOMContentLoaded', () => {
        /* Run whatever you want */
      });
    </script>
      {% endcomment %}
      <link rel="stylesheet"
            href="https://code.jquery.com/ui/1.13.2/themes/smoothness/jquery-ui.css" />
      <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
      <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
      <script>
        $("h1").addClass("display-4");
        $(".samepage-link").click(function() {
          var href = $(this).attr('href');
          var explanation = href + "-explanation";
          // check if the link is collapsed
          if (!$(explanation).hasClass('show')) {
            // if so, expand it
            $(explanation).collapse('show');
          }
          $(href).effect("highlight", 2000);
        });
        // https://stackoverflow.com/questions/34617802/load-page-and-highlight-anchor-div-using-jquery-ui
        $(document).ready(function() {
          var url = window.location.href; // returns full current url
          if (url.indexOf("#") == -1) {
            // if there is no hash in the url, do nothing
            return;
          } else {
            // if there is a hash in the url, highlight the div by id
            var hash = url.substring(url.indexOf("#"));
            $(hash).effect("highlight", 2000);
          }
        });
      </script>
    {% endblock inline_javascript %}
  </body>
</html>
