{% load project_tags %}

<div class="accordion-item" id={{ id }}>
  <h2 class="accordion-header" id="heading{{ id }}">
    <button class="accordion-button {% if not bool %}collapsed{% endif %}"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse{{ id }}"
            aria-expanded="{% if bool %}true{% else %}false{% endif %}"
            aria-controls="collapse{{ id }}">{{ label }} {{ bool|add_html_indicator_badge }}</button>
  </h2>
  <div id="collapse{{ id }}"
       class="accordion-collapse collapse {% if bool %}show{% endif %}"
       aria-labelledby="heading{{ id }}"
       data-bs-parent="#{{ parent }}">
    <div class="accordion-body">{{ interp }}</div>
  </div>
</div>
